Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

Rename ISearchForNzb to IReleaseSearchService
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/Prowlarr.Api.V1/Indexers/NewznabController.cs
  src/Prowlarr.Api.V1/Search/SearchController.cs
  src/Prowlarr.Http/Extensions/RequestExtensions.cs
Labels: Area: API

New: (Torznab) Add `magneturl' attribute
  src/NzbDrone.Core/IndexerSearch/NewznabResults.cs
  src/Prowlarr.Api.V1/Indexers/NewznabController.cs
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Bump version to 1.9.0
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Fixed parsing of multiple languages from Newznab indexer releases
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabRssParser.cs
Labels: Area: Indexer

New: Pushcut notifications
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutException.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutPayload.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutResponse.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutSettings.cs
Labels: Area: Notifications

Sonarr > Prowlarr
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
  src/NzbDrone.Core/Notifications/Signal/SignalProxy.cs
Labels: Area: Notifications

New: Add custom filter by protocol for indexer stats
  frontend/src/Store/Actions/indexerStatsActions.js
  src/Prowlarr.Api.V1/Indexers/IndexerStatsController.cs
Labels: Area: API, Area: UI

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Bump migration timeout to 10 minutes
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
Labels: none

add subsplease to movie categories due to anime movie nature
  src/NzbDrone.Core/Indexers/Definitions/SubsPlease.cs
Labels: Area: Indexer

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Fixed: (SubsPlease) Update category mappings for movie releases
  src/NzbDrone.Core/Indexers/Definitions/SubsPlease.cs
Labels: Area: Indexer

Fixed: Ignore inaccessible mount points
  src/NzbDrone.Mono/Disk/DiskProvider.cs
Labels: none

Fixed: (Apps) Check if the indexers have valid settings
  src/NzbDrone.Core/Applications/ApplicationService.cs
Labels: none

Ignore invalid cookies when adding response cookies to CookieContainer
  src/NzbDrone.Common/Http/HttpClient.cs
Labels: none

Fixed: (Animedia) Removed
  src/NzbDrone.Core/Indexers/Definitions/Animedia.cs
Labels: Area: Indexer

Return 1 seeder as fallback in Torrent RSS Feed
  src/NzbDrone.Core/Indexers/TorrentRssParser.cs
Labels: Area: Indexer

Fixed: Improve Tags Helptext and add warnings
  frontend/src/Indexer/Edit/EditIndexerModalContent.js
  frontend/src/Settings/Applications/Applications/EditApplicationModalContent.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Improve tags helptext and add warnings
  frontend/src/Indexer/Edit/EditIndexerModalContent.js
  frontend/src/Settings/Applications/Applications/EditApplicationModalContent.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

fixup Improve tags helptext and add warnings
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Correction to Improve tags helptext and add warnings
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Return 1 seeder as fallback only in Torrent RSS Feed
  src/NzbDrone.Core/Indexers/Definitions/TorrentRss/TorrentRssParserFactory.cs
  src/NzbDrone.Core/Indexers/TorrentRssParser.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Bump version to 1.9.1
  azure-pipelines.yml
Labels: none

Use await on reading the response content
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
Labels: none

Sync static resource controller with upstream
  src/Prowlarr.Http/Frontend/Mappers/IMapHttpRequestsToDisk.cs
  src/Prowlarr.Http/Frontend/Mappers/StaticResourceMapperBase.cs
  src/Prowlarr.Http/Frontend/StaticResourceController.cs
Labels: none

Fixed: (Nebulance) Use the group name when the release name is empty
  src/NzbDrone.Core/Indexers/Definitions/Nebulance.cs
Labels: Area: Indexer

Simplify use the group name when the release name is empty
  src/NzbDrone.Core/Indexers/Definitions/Nebulance.cs
Labels: Area: Indexer

Fixed: (Indexer) Myanonamouse Allow aborting download if FL token purchase fails
  src/NzbDrone.Core/Indexers/Definitions/MyAnonamouse.cs
Labels: Area: Indexer

Fixed: Ignore releases without title
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
Labels: Area: Indexer

Bump migration timeout to 10 minutes
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
Labels: none

Fixed: Ignore releases without title
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
Labels: Area: Indexer

Use enums to indicate intent
  src/NzbDrone.Core/Indexers/Definitions/MyAnonamouse.cs
Labels: Area: Indexer

Avoid returning null in static resource mapper Task
  src/Prowlarr.Http/Frontend/Mappers/StaticResourceMapperBase.cs
Labels: none

Fixed: (Cardigann) Fallback variables to empty string to prevent NullRef
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannBase.cs
Labels: Area: Indexer

New: (AlphaRatio) Add pagination support
  src/NzbDrone.Core/Indexers/Definitions/AlphaRatio.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/GreatPosterWall.cs
Labels: Area: Indexer

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock
