Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock

New: Add App Profile validation for indexers
  src/NzbDrone.Core/Profiles/AppSyncProfileService.cs
  src/NzbDrone.Core/Validation/AppProfileExistsValidator.cs
  src/Prowlarr.Api.V1/Indexers/IndexerController.cs
  src/Prowlarr.Api.V1/Profiles/App/AppProfileController.cs
  src/Prowlarr.Api.V1/Profiles/App/AppProfileSchemaModule.cs
Labels: Area: API

Add schema endpoint for app profiles
  src/Prowlarr.Api.V1/Profiles/App/AppProfileController.cs
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Fix integration tests for indexers
  src/NzbDrone.Integration.Test/IntegrationTest.cs
Labels: none

New: Add Download Client validation for indexers
  src/NzbDrone.Core/Validation/DownloadClientExistsValidator.cs
  src/Prowlarr.Api.V1/Indexers/IndexerController.cs
Labels: Area: API

Remove mandatory validation for download client in indexers
  src/Prowlarr.Api.V1/Indexers/IndexerController.cs
Labels: Area: API

Allow 0 as value in download client Id validation
  src/NzbDrone.Core/Validation/DownloadClientExistsValidator.cs
Labels: none

Improve appearance of info fields
  frontend/src/Components/Form/InfoInput.js
Labels: Area: UI

New: Set busy timeout for SQLite
  src/NzbDrone.Core/Datastore/ConnectionStringFactory.cs
Labels: none

Bump version to 1.10.2
  azure-pipelines.yml
Labels: none

Fixed: (FileList) Change TZ to account DST
  src/NzbDrone.Core.Test/IndexerTests/FileListTests/FileListFixture.cs
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListParser.cs
Labels: Area: Indexer

Fixed: (Beyond-HD) Category filtering
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexer

Remove default definitions for dead indexers
  src/NzbDrone.Core/Indexers/Definitions/Newznab/Newznab.cs
Labels: Area: Indexer

Fixed: (Beyond-HD) Types filtering
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexer

Bump version to 1.10.3
  azure-pipelines.yml
Labels: none

Prevent NullRef on header assert
  src/NzbDrone.Integration.Test/Client/ClientBase.cs
Labels: none

Increase the timeout for CheckHealth command
  src/NzbDrone.Integration.Test/IntegrationTest.cs
Labels: none

Fixed: (PTP) Add support for TV searches
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcorn.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornRequestGenerator.cs
Labels: Area: Indexer

Fixed: (PTP) Add TV search capabilities
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcorn.cs
Labels: Area: Indexer

Fixed: (Redacted) Filter old releases on RSS
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
Labels: Area: Indexer

Fixed: (Orpheus) Filter old releases on RSS
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
Labels: Area: Indexer

Fix count in OrpheusFixture
  src/NzbDrone.Core.Test/IndexerTests/OrpheusTests/OrpheusFixture.cs
Labels: none

Don't store status results for invalid providers
  src/NzbDrone.Core.Test/IndexerTests/IndexerStatusServiceFixture.cs
  src/NzbDrone.Core/ThingiProvider/Status/ProviderStatusServiceBase.cs
Labels: none

Fixed: Record status for notifications on tests
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
Labels: Area: Notifications

Fixed: (AvistaZ) Fix PublishDate timezone
  src/NzbDrone.Core/Indexers/Definitions/AvistaZ.cs
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazParserBase.cs
  src/NzbDrone.Core/Indexers/Definitions/ExoticaZ.cs
Labels: Area: Indexer

Fix AvistaZ tests
  src/NzbDrone.Core.Test/IndexerTests/AvistazTests/AvistazFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/AvistazTests/ExoticazFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/AvistazTests/PrivateHDFixture.cs
Labels: none

Bump version to 1.10.4
  azure-pipelines.yml
Labels: none

New: (HDBits) Add pagination support
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBits.cs
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsApi.cs
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsParser.cs
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsSettings.cs
Labels: Area: Indexer

Improvements to download factor and show Freeleech only for HDB
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsParser.cs
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsSettings.cs
Labels: Area: Indexer

Fixed: (HDBits) Add labels for codecs and mediums
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsSettings.cs
Labels: Area: Indexer

Fixed: (AvistaZ) Increase rate limit to 5 seconds
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazBase.cs
Labels: Area: Indexer

New: (HDBits) Add Use Filenames option
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsParser.cs
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsSettings.cs
Labels: Area: Indexer

Fixed: Added Imdb ID search on PTP for TV
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcorn.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornRequestGenerator.cs
Labels: Area: Indexer

Fixed: (PTP) Add IMDb ID to TV Search capabilities (#1920)
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcorn.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornRequestGenerator.cs
Labels: Area: Indexer

Rename 'ReturnUrl' to 'returnUrl' for forms auth redirection
  src/Prowlarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: none

Fixed: Enforce validation warnings when testing providers
  src/Prowlarr.Api.V1/ProviderControllerBase.cs
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: (AnimeBytes) Filter old releases on RSS
  src/NzbDrone.Core/Indexers/Definitions/AnimeBytes.cs
Labels: Area: Indexer

Fix AB tests
  src/NzbDrone.Core.Test/IndexerTests/AnimeBytesTests/AnimeBytesFixture.cs
Labels: none
