Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock

Remove reddit from readme
  README.md
Labels: none

Add retry to flaky automation tests
  src/NzbDrone.Automation.Test/MainPagesTest.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Replace docker detection for cgroup v2
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
Labels: none

Fixed: Hidden files being ignored
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fix flaky automation tests
  src/NzbDrone.Automation.Test/MainPagesTest.cs
  src/NzbDrone.Automation.Test/PageModel/PageBase.cs
Labels: none

Adds Pipeline testing for Postgres15 Databases
  azure-pipelines.yml
Labels: none

bump Npgsql to 7.0.4
  src/NzbDrone.Common/Prowlarr.Common.csproj
  src/NzbDrone.Core/Prowlarr.Core.csproj
Labels: none

bump Npgsql to 7.0.4
  src/NzbDrone.Common/Prowlarr.Common.csproj
  src/NzbDrone.Core/Prowlarr.Core.csproj
Labels: none

Adds Pipeline testing for Postgres15 Databases
  azure-pipelines.yml
Labels: none

New: Success check mark on blue buttons is now white instead of green
  frontend/src/Components/Link/SpinnerErrorButton.js
Labels: Area: UI

Allow decimals in number inputs
  frontend/src/Components/Form/NumberInput.js
  frontend/src/Helpers/Props/inputTypes.js
  src/Prowlarr.Http/ClientSchema/Field.cs
  src/Prowlarr.Http/ClientSchema/SchemaBuilder.cs
Labels: Area: UI

Automated API Docs update [skip ci]
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update [skip ci]
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Prevent useless builds
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Bump version to 1.8.4
  azure-pipelines.yml
Labels: none

Improve music and console search results for AnimeBytes
  frontend/src/Indexer/Info/IndexerInfoModalContent.tsx
  src/NzbDrone.Core/Indexers/Definitions/AnimeBytes.cs
Labels: Area: Indexer, Area: UI

Prevent health checks warnings for disabled notifications
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
Labels: Area: Notifications

Allow deselecting values when using search through url query params
  frontend/src/Search/SearchFooter.js
  frontend/src/Search/SearchFooterConnector.js
Labels: Area: UI

Remove Reddit from issues config
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Remove Reddit from issues config
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Fixed: (Nebulance) Detect TV UHD releases
  src/NzbDrone.Core/Indexers/Definitions/Nebulance.cs
  src/NzbDrone.Core/Parser/TvCategoryFromQualityParser.cs
Labels: Area: Indexer

Remove Reddit from issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/label-actions.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Bump version to 1.8.5
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fix loading translations
  frontend/src/Components/Filter/Builder/PrivacyFilterBuilderRowValue.js
  frontend/src/Components/keyboardShortcuts.js
  frontend/src/History/HistoryRow.js
Labels: Area: UI

Improve messaging in Authentication Required modal
  frontend/src/FirstRun/AuthenticationRequiredModalContent.js
  frontend/src/Settings/General/SecuritySettings.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Add missing app name token for translation
  frontend/src/Settings/General/SecuritySettings.js
Labels: Area: UI

Fix user check in Authentication Required for newer installs
  frontend/src/FirstRun/AuthenticationRequiredModalContent.js
Labels: Area: UI

Simplify user check in Authentication Required for newer installs
  frontend/src/FirstRun/AuthenticationRequiredModalContent.js
Labels: Area: UI

Bump dotnet to 6.0.21
  azure-pipelines.yml
  package.json
  src/NzbDrone.Common/Prowlarr.Common.csproj
  src/NzbDrone.Core.Test/Prowlarr.Core.Test.csproj
  src/NzbDrone.Core/Prowlarr.Core.csproj
  src/NzbDrone.Host/Prowlarr.Host.csproj
  src/NzbDrone.Integration.Test/Prowlarr.Integration.Test.csproj
  src/NzbDrone.Update/Prowlarr.Update.csproj
  yarn.lock
Labels: Area: UI

Fixed translations for history parameters
  frontend/src/History/HistoryRow.js
Labels: Area: UI

Some logging improvements for filtered releases
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannBase.cs
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannParser.cs
Labels: Area: Indexer

Remove Label and Unit columns from Apps Fields
  src/NzbDrone.Core/Applications/Lidarr/LidarrField.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrField.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrField.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrField.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrField.cs
Labels: none

Cleanse API Keys from sync requests sent to applications
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: none

Display a not allowed cursor for disabled select options
  frontend/src/Components/Form/EnhancedSelectInputOption.css
Labels: Area: UI
