Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/lv.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/lv.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

New: (HDBits) Filter by origins
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsApi.cs
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsSettings.cs
Labels: Area: Indexer

Empty Torznab ApiKeyWhiteList
  src/NzbDrone.Core/Indexers/Definitions/Torznab/TorznabSettings.cs
Labels: Area: Indexer

Empty Torznab ApiKeyWhiteList
  src/NzbDrone.Core/Indexers/Definitions/Torznab/TorznabSettings.cs
Labels: Area: Indexer

New: Indexer ID as column
  frontend/src/Indexer/Index/Table/IndexerIndexRow.css
  frontend/src/Indexer/Index/Table/IndexerIndexRow.css.d.ts
  frontend/src/Indexer/Index/Table/IndexerIndexRow.tsx
  frontend/src/Indexer/Index/Table/IndexerIndexTableHeader.css
  frontend/src/Indexer/Index/Table/IndexerIndexTableHeader.css.d.ts
  frontend/src/Indexer/IndexerTitleLink.tsx
  frontend/src/Store/Actions/indexerIndexActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Refresh button for indexer stats
  frontend/src/Indexer/Stats/IndexerStats.tsx
  frontend/src/Search/SearchIndex.js
Labels: Area: UI

Fixed: Filter history by multiple event types in PG
  src/Prowlarr.Api.V1/History/HistoryController.cs
Labels: Area: API

Bump version to 1.12.2
  azure-pipelines.yml
Labels: none

Bump Inno version to 6.2.2
  azure-pipelines.yml
  build.sh
Labels: none

Fixed: (FL) Improve error message for service unavailable
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListApi.cs
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListParser.cs
Labels: Area: Indexer

Fix typo
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListParser.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Sort Custom Filters
  frontend/src/Components/Filter/CustomFilters/CustomFiltersModalContent.js
  frontend/src/Components/Menu/FilterMenuContent.js
Labels: Area: UI

Throw download as failed for invalid magnet links
  src/NzbDrone.Core/Download/TorrentClientBase.cs
Labels: none

New: Optional directory setting for Aria2
  src/NzbDrone.Common/Http/XmlRpcRequestBuilder.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Proxy.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Settings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Download Clients

Fixed: (GGn) Improve titles and allow only torrents
  src/NzbDrone.Core/Indexers/Definitions/GazelleGames.cs
Labels: Area: Indexer

Fix count in GGn fixture after allowing only torrents
  src/NzbDrone.Core.Test/IndexerTests/GazelleGamesTests/GazelleGamesFixture.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/pl.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/pl.json
Labels: none

Bump version to 1.13.0
  azure-pipelines.yml
Labels: none

Don't lowercase UrlBase in ConfigFileProvider
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Fixed: Don't lowercase UrlBase in ConfigFileProvider
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Add exceptions to logs for indexers and apps
  src/NzbDrone.Core/Applications/ApplicationService.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
Labels: Area: Indexer

New: Log warning if less than 1 GB free space during update
  src/NzbDrone.Core/Update/InstallUpdateService.cs
Labels: none

Transpile logical assignment operators with babel
  frontend/babel.config.js
Labels: Area: UI

Bump version to 1.13.1
  azure-pipelines.yml
Labels: none

Reorder sync fields for App Profiles
  frontend/src/Settings/Profiles/App/EditAppProfileModalContent.js
  src/NzbDrone.Core/Profiles/AppSyncProfileService.cs
  src/Prowlarr.Api.V1/Profiles/App/AppProfileResource.cs
Labels: Area: API, Area: UI

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Fixed: (BTN) Allow ID-based with text search query
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNetRequestGenerator.cs
Labels: Area: Indexer

Fixed: (BTN) Disable ID-based searches for episodes with absolute episode number
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNetRequestGenerator.cs
Labels: Area: Indexer

Fix value types for EnhancedSelectInputConnector
  frontend/src/Components/Form/EnhancedSelectInputConnector.js
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

New: Category filter for Indexers
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Filter/Builder/CategoryFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Helpers/Props/filterBuilderValueTypes.js
  frontend/src/Store/Actions/indexerActions.js
  frontend/src/Store/Actions/indexerIndexActions.js
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fix translations for manage applications and download clients
  frontend/src/Settings/Applications/Applications/Applications.js
  frontend/src/Settings/DownloadClients/DownloadClientSettings.js
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClients.js
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: Area: UI

New: Add sorting to Manage Applications and Download Client modals
  frontend/src/Settings/Applications/Applications/Manage/ManageApplicationsModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Store/Actions/Settings/applications.js
  frontend/src/Store/Actions/Settings/downloadClients.js
Labels: Area: UI

Fixed: Sorting by name in Manage Applications and Download Client modals
  frontend/src/Store/Actions/Settings/applications.js
  frontend/src/Store/Actions/Settings/downloadClients.js
Labels: Area: UI
