Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock

Update database migration version translation token
  frontend/src/System/Status/About/About.js
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: Area: UI

New: Category filter for Indexers
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Filter/Builder/CategoryFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Helpers/Props/filterBuilderValueTypes.js
  frontend/src/Store/Actions/indexerActions.js
  frontend/src/Store/Actions/indexerIndexActions.js
Labels: Area: UI

Fixed: (SubsPlease) Parse release size from magnet links
  src/NzbDrone.Core/Indexers/Definitions/SubsPlease.cs
Labels: Area: Indexer

New: Option to disable Email encryption
  src/NzbDrone.Core.Test/Datastore/Migration/039_email_encryptionFixture.cs
  src/NzbDrone.Core.Test/NotificationTests/EmailTests/EmailSettingsValidatorFixture.cs
  src/NzbDrone.Core/Datastore/Migration/039_email_encryption.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/Email/EmailSettings.cs
Labels: Area: Db-migration, Area: Notifications

Fix possible NullRef in Email Encryption migration
  src/NzbDrone.Core.Test/Datastore/Migration/039_email_encryptionFixture.cs
  src/NzbDrone.Core/Datastore/Migration/039_email_encryption.cs
Labels: Area: Db-migration

New: Option to disable Email encryption
  src/NzbDrone.Core.Test/Datastore/Migration/039_email_encryptionFixture.cs
  src/NzbDrone.Core.Test/NotificationTests/EmailTests/EmailSettingsValidatorFixture.cs
  src/NzbDrone.Core/Datastore/Migration/039_email_encryption.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/Email/EmailSettings.cs
Labels: Area: Db-migration, Area: Notifications

New: Don't return API Keys and Passwords via the API
  src/Prowlarr.Api.V1/Applications/ApplicationResource.cs
  src/Prowlarr.Api.V1/DownloadClient/DownloadClientResource.cs
  src/Prowlarr.Api.V1/IndexerProxies/IndexerProxyResource.cs
  src/Prowlarr.Api.V1/Indexers/IndexerResource.cs
  src/Prowlarr.Api.V1/Notifications/NotificationResource.cs
  src/Prowlarr.Api.V1/ProviderControllerBase.cs
  src/Prowlarr.Api.V1/ProviderResource.cs
  src/Prowlarr.Http/ClientSchema/Field.cs
  src/Prowlarr.Http/ClientSchema/SchemaBuilder.cs
Labels: Area: API

Don't clone indexer API Key
  frontend/src/Store/Actions/indexerActions.js
Labels: Area: UI

Remove Status from IndexerDefinition
  src/NzbDrone.Core/Indexers/IndexerDefinition.cs
Labels: Area: Indexer

Remove http being added to proxy for flaresolverr
  src/NzbDrone.Core/IndexerProxies/FlareSolverr/FlareSolverr.cs
Labels: none

New: (Torznab) Internal and Scene tags
  src/NzbDrone.Core/Indexers/Definitions/Torznab/TorznabRssParser.cs
Labels: Area: Indexer

Change description of Tag field to match actual functionality
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Explain behavior with no tags
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Update help text for Tags usage in Applications
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Bump version to 1.13.2
  azure-pipelines.yml
Labels: none

Update magnet trackers
  src/NzbDrone.Core/Indexers/MagnetLinkBuilder.cs
Labels: Area: Indexer

Don't clone indexer API Key
  frontend/src/Store/Actions/indexerActions.js
Labels: Area: UI

New: Don't return API Keys and Passwords via the API
  src/Prowlarr.Api.V1/Applications/ApplicationResource.cs
  src/Prowlarr.Api.V1/DownloadClient/DownloadClientResource.cs
  src/Prowlarr.Api.V1/IndexerProxies/IndexerProxyResource.cs
  src/Prowlarr.Api.V1/Indexers/IndexerResource.cs
  src/Prowlarr.Api.V1/Notifications/NotificationResource.cs
  src/Prowlarr.Api.V1/ProviderControllerBase.cs
  src/Prowlarr.Api.V1/ProviderResource.cs
  src/Prowlarr.Http/ClientSchema/Field.cs
  src/Prowlarr.Http/ClientSchema/SchemaBuilder.cs
Labels: Area: API

New: Don't retest connections, indexers, download clients, etc if re-saved with the exact same settings
  src/NzbDrone.Core/ThingiProvider/ProviderDefinition.cs
  src/Prowlarr.Api.V1/ProviderControllerBase.cs
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Fixed: Handle download redirects to magnet links
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
Labels: Area: Indexer

Fixed: Avoid trailing slash in Proxy Url sent to FlareSolverr
  src/NzbDrone.Core/IndexerProxies/FlareSolverr/FlareSolverr.cs
Labels: none

Bind shortcut for pending changes confirmation only when it's shown
  frontend/src/Settings/PendingChangesModal.js
Labels: Area: UI

Fixed: (IPTorrents) Include episodes in season search
  src/NzbDrone.Core/Indexers/Definitions/IPTorrents.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Bump version to 1.13.3
  azure-pipelines.yml
Labels: none

Update UISettings.js - date examples
  frontend/src/Settings/UI/UISettings.js
Labels: Area: UI

Add hints to date examples
  frontend/src/Settings/UI/UISettings.js
Labels: Area: UI

Add more hints for week column
  frontend/src/Settings/UI/UISettings.js
Labels: Area: UI

Hints for week column and short dates in UI settings
  frontend/src/Settings/UI/UISettings.js
Labels: Area: UI

Fixed: Don't use sub folder to check for free disk space for update
  src/NzbDrone.Core/Update/InstallUpdateService.cs
Labels: none

New: Log database engine version on startup
  src/NzbDrone.Core/Datastore/Migration/000_database_engine_version_check.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
Labels: Area: Db-migration

Fixed: Redirecting after login with urlbase
  src/Prowlarr.Http/Authentication/AuthenticationController.cs
Labels: none

Revert "Enable browser navigation buttons for PWA"
  frontend/src/Content/Images/Icons/manifest.json
Labels: Area: UI

Fixed: Refresh tags state to clear removed tags by housekeeping
  frontend/src/Settings/Tags/TagsConnector.js
Labels: Area: UI

New: (OPS/RED) Add options to prevent downloads without FL tokens
  src/NzbDrone.Core/Datastore/Migration/040_freeleech_token_options.cs
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
Labels: Area: Db-migration, Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none
