Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

Fixed: Ensure failing providers are marked as failed when testing all
  src/NzbDrone.Core/Applications/ApplicationFactory.cs
  src/NzbDrone.Core/Download/DownloadClientFactory.cs
Labels: none

Fixed: Run health checks for applications and download clients on bulk events
  src/NzbDrone.Core/HealthCheck/Checks/ApplicationLongTermStatusCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/ApplicationStatusCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientStatusCheck.cs
Labels: none

Fix translation typo in sync level options
  frontend/src/Settings/Applications/Applications/Manage/Edit/ManageApplicationsEditModalContent.tsx
Labels: Area: UI

New: Add test all action for apps and download clients to status health
  frontend/src/System/Status/Health/Health.js
  frontend/src/System/Status/Health/HealthConnector.js
  src/NzbDrone.Core/Applications/ApplicationFactory.cs
Labels: Area: UI

Fixed: (Apps) Lower the severity for testing messages
  src/NzbDrone.Core/Applications/LazyLibrarian/LazyLibrarian.cs
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Mylar/Mylar.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
Labels: none

New: Add internal links for apps and download clients health checks
  frontend/src/System/Status/Health/Health.js
Labels: Area: UI

Fixed: (Indexers) Don't fetch releases when using unsupported capabilities
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
  src/NzbDrone.Core/Indexers/IndexerCapabilities.cs
Labels: Area: Indexer

Fixed border for actions in health status
  frontend/src/System/Status/Health/Health.css
Labels: Area: UI

Filter user issues from Sentry
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
Labels: none

Bump version to 1.8.2
  azure-pipelines.yml
Labels: none

Fixed: (Indexers) Don't fetch releases when using unsupported capabilities
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
  src/NzbDrone.Core/Indexers/IndexerCapabilities.cs
Labels: Area: Indexer

Bump SonarCloudAnalyze to Java 17
  azure-pipelines.yml
Labels: none

Fixed: Detect Docker when using control group v2
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
Labels: none

New: Add Content Summary for requests to apps
  src/NzbDrone.Core/Applications/Lidarr/LidarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrV3Proxy.cs
Labels: none

Remove Order and Help columns from Apps Fields
  src/NzbDrone.Core/Applications/Lidarr/LidarrField.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrField.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrField.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrField.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrField.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Prevent NullRef in IsPathValid for null paths
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

Fixed color for links
  frontend/src/Styles/Themes/dark.js
Labels: Area: UI

Bump Npgsql version to 6.0.9
  src/NzbDrone.Common/Prowlarr.Common.csproj
  src/NzbDrone.Core/Prowlarr.Core.csproj
Labels: none

Fixed: Retain user settings not-affiliated with Prowlarr
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrIndexer.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrIndexer.cs
Labels: none

Fixed: PostgreSQL timezone issues
  azure-pipelines.yml
  src/NuGet.config
  src/NzbDrone.Core.Test/Datastore/DatabaseFixture.cs
  src/NzbDrone.Core/Datastore/Migration/036_postgres_update_timestamp_columns_to_with_timezone.cs
  src/NzbDrone.Core/Prowlarr.Core.csproj
Labels: Area: Db-migration

Fixed: PostgreSQL timezone issues
  azure-pipelines.yml
  src/NuGet.config
  src/NzbDrone.Core.Test/Datastore/DatabaseFixture.cs
  src/NzbDrone.Core/Datastore/Migration/036_postgres_update_timestamp_columns_to_with_timezone.cs
  src/NzbDrone.Core/Prowlarr.Core.csproj
Labels: Area: Db-migration

Update FluentAssertions
  src/NzbDrone.Common.Test/DiskTests/DirectoryLookupServiceFixture.cs
  src/NzbDrone.Common.Test/DiskTests/DiskTransferServiceFixture.cs
  src/NzbDrone.Core.Test/Datastore/BasicRepositoryFixture.cs
  src/NzbDrone.Core.Test/Housekeeping/Housekeepers/FixFutureRunScheduledTasksFixture.cs
  src/NzbDrone.Core.Test/ThingiProviderTests/ProviderStatusServiceFixture.cs
  src/NzbDrone.Test.Common/Prowlarr.Test.Common.csproj
Labels: none

Rework adding one minute back-off level for all providers
  src/NzbDrone.Core.Test/ThingiProviderTests/ProviderStatusServiceFixture.cs
  src/NzbDrone.Core/ThingiProvider/Status/ProviderStatusServiceBase.cs
Labels: none

Fixed: Ensure grab notifications are sent according to tags requirements
  src/NzbDrone.Core/Download/DownloadService.cs
  src/NzbDrone.Core/Indexers/Events/IndexerDownloadEvent.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: Area: Indexer, Area: Notifications

Show successful grabs in Search with green icon
  frontend/src/Search/Mobile/SearchIndexOverview.js
  frontend/src/Search/Table/SearchIndexRow.js
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/ro.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/ro.json
Labels: none

Bump version to 1.8.3
  azure-pipelines.yml
Labels: none

Use named tokens in frontend translate function
  frontend/src/Indexer/Add/AddIndexerModalContent.js
  frontend/src/Indexer/Delete/DeleteIndexerModalContent.tsx
  frontend/src/Indexer/Index/Select/Delete/DeleteIndexerModalContent.tsx
  frontend/src/Indexer/Index/Select/Edit/EditIndexerModalContent.tsx
  frontend/src/Indexer/Index/Select/IndexerIndexSelectFooter.tsx
  frontend/src/Search/SearchFooter.js
  frontend/src/Settings/Applications/Applications/Application.js
  frontend/src/Settings/Applications/Applications/Manage/Edit/ManageApplicationsEditModalContent.tsx
  frontend/src/Settings/Applications/Applications/Manage/ManageApplicationsModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Categories/Category.js
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClient.js
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Edit/ManageDownloadClientsEditModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/Indexers/IndexerProxies/IndexerProxy.js
  frontend/src/Settings/Notifications/Notifications/Notification.js
  frontend/src/Settings/Profiles/App/AppProfile.js
  frontend/src/Settings/Tags/Tag.js
  frontend/src/Settings/UI/UISettings.js
  frontend/src/System/Backup/BackupRow.js
  frontend/src/System/Updates/Updates.js
  frontend/src/Utilities/String/translate.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Translate Updated and Connection Lost Modals in frontend
  frontend/src/App/AppUpdatedModalContent.css
  frontend/src/App/AppUpdatedModalContent.js
  frontend/src/App/ConnectionLostModal.js
  frontend/src/Components/Markdown/InlineMarkdown.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Notifications (Connect) Status
  frontend/src/System/Status/Health/Health.js
  src/NzbDrone.Core.Test/HealthCheck/Checks/NotificationStatusCheckFixture.cs
  src/NzbDrone.Core.Test/Housekeeping/Housekeepers/CleanupOrphanedNotificationStatusFixture.cs
  src/NzbDrone.Core.Test/NotificationTests/NotificationStatusServiceFixture.cs
  src/NzbDrone.Core/Datastore/Migration/037_add_notification_status.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/HealthCheck/Checks/NotificationStatusCheck.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupOrphanedNotificationStatus.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/FixFutureNotificationStatusTimes.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/NotificationStatus.cs
  src/NzbDrone.Core/Notifications/NotificationStatusRepository.cs
  src/NzbDrone.Core/Notifications/NotificationStatusService.cs
Labels: Area: Db-migration, Area: Notifications, Area: UI

New: Default name when adding providers
  frontend/src/Indexer/Add/AddIndexerModalContent.js
  frontend/src/Indexer/Add/AddIndexerModalContentConnector.js
  frontend/src/Indexer/Add/AddIndexerPresetMenuItem.js
  frontend/src/Indexer/Add/SelectIndexerRow.js
  frontend/src/Indexer/Edit/EditIndexerModalContent.js
  frontend/src/Settings/Applications/Applications/AddApplicationItem.js
  frontend/src/Settings/Applications/Applications/AddApplicationPresetMenuItem.js
  frontend/src/Settings/Applications/Applications/EditApplicationModalContent.js
  frontend/src/Settings/DownloadClients/DownloadClients/Categories/AddCategoryModalContent.js
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.js
  frontend/src/Settings/Indexers/IndexerProxies/AddIndexerProxyItem.js
  frontend/src/Settings/Indexers/IndexerProxies/EditIndexerProxyModalContent.js
  frontend/src/Settings/Notifications/Notifications/AddNotificationModalContent.js
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.js
  frontend/src/Store/Actions/indexerActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Cleanup other provider status code
  src/NzbDrone.Core/Download/DownloadClientFactory.cs
Labels: none

readme - purge reddit [skip ci]
  README.md
Labels: none

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock
