Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Fix chunk IDs and source map file names
  frontend/build/webpack.config.js
Labels: Area: UI

Combine cleanse rules for passkey and rsskey
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: none

Fixed: (SubsPlease) Update indexer urls
  src/NzbDrone.Core/Indexers/Definitions/SubsPlease.cs
Labels: Area: Indexer

Add type number to value prop in HintedSelectInputSelectedValue
  frontend/src/Components/Form/HintedSelectInputSelectedValue.js
Labels: Area: UI

Show implementation name in Application Modal's header
  frontend/src/Settings/Applications/Applications/EditApplicationModalContent.js
Labels: Area: UI

New: (BeyondHD) Add pagination support
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexer

New: (UI) Show indexer id as hint in IndexerSelect
  frontend/src/Components/Form/HintedSelectInputOption.js
  frontend/src/Components/Form/IndexersSelectInputConnector.js
Labels: Area: UI

Fixed: (UI) Improved mobile search form and show indexer flags
  frontend/src/Search/Mobile/SearchIndexOverview.js
  frontend/src/Search/SearchFooter.css
  frontend/src/Search/SearchFooter.css.d.ts
  frontend/src/Search/SearchFooter.js
Labels: Area: UI

Rename decisions to releases in Search Controller
  src/Prowlarr.Api.V1/Search/ReleaseResource.cs
  src/Prowlarr.Api.V1/Search/SearchController.cs
Labels: Area: API

Cache busting for CSS files
  frontend/build/webpack.config.js
Labels: Area: UI

Ensure `No search results found` isn't shown without a search
  frontend/src/Search/NoSearchResults.tsx
  frontend/src/Search/SearchIndex.js
Labels: Area: UI

Add GetAttribute for enums
  src/NzbDrone.Common/Extensions/EnumExtensions.cs
Labels: none

Fixed: (BeyondHD) Add search types option
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexer

Fixed: (BeyondHD) Add search types option
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexer

Add GetAttribute for enums
  src/NzbDrone.Common/Extensions/EnumExtensions.cs
Labels: none

Fixed: (UI) Ensure proper parsing for size values in custom filters
  frontend/src/Store/Actions/releaseActions.js
Labels: Area: UI

Sort available filters options in custom filters
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
Labels: Area: UI

Fix selecting guids from search results
  frontend/src/Search/SearchIndex.js
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Add hover background color in Indexer Table Index
  frontend/src/Indexer/Index/Table/IndexerIndexTable.css
  frontend/src/Indexer/Index/Table/IndexerIndexTable.css.d.ts
  frontend/src/Indexer/Index/Table/IndexerIndexTable.tsx
Labels: Area: UI

Added `magnetUrl` prop in Search Index Row
  frontend/src/Search/Table/SearchIndexRow.js
Labels: Area: UI

Add support for deprecated values in field select options
  src/Prowlarr.Http/ClientSchema/SchemaBuilder.cs
Labels: none

Bump version to 1.7.4
  azure-pipelines.yml
Labels: none

New: (Apps) Add `Go To Application` in UI
  frontend/src/Settings/Applications/Applications/Application.css
  frontend/src/Settings/Applications/Applications/Application.css.d.ts
  frontend/src/Settings/Applications/Applications/Application.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Update Sentry DSN
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
Labels: none

Bump version to 1.8.0
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Convert Indexer Stats to Typescript
  frontend/.eslintrc.js
  frontend/src/App/AppRoutes.js
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/IndexerStatsAppState.ts
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Components/Form/PathInputConnector.js
  frontend/src/Components/Table/Cells/TableRowCellButton.css.d.ts
  frontend/src/Components/Table/Cells/TableRowCellButton.js
  frontend/src/Components/Table/Cells/TableRowCellButton.tsx
  frontend/src/Indexer/NoIndexer.tsx
  frontend/src/Indexer/Stats/IndexerStats.css
  frontend/src/Indexer/Stats/IndexerStats.css.d.ts
  frontend/src/Indexer/Stats/IndexerStats.tsx
  frontend/src/Indexer/Stats/IndexerStatsFilterMenu.tsx
  frontend/src/Indexer/Stats/Stats.js
  frontend/src/Indexer/Stats/StatsConnector.js
  frontend/src/Indexer/Stats/StatsFilterMenu.js
  frontend/src/Indexer/Stats/StatsFilterModalConnector.js
  frontend/src/typings/IndexerStats.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Convert Delete Indexer to Typescript
  frontend/src/Indexer/Delete/DeleteIndexerModal.js
  frontend/src/Indexer/Delete/DeleteIndexerModal.tsx
  frontend/src/Indexer/Delete/DeleteIndexerModalContent.js
  frontend/src/Indexer/Delete/DeleteIndexerModalContent.tsx
  frontend/src/Indexer/Delete/DeleteIndexerModalContentConnector.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Convert Delete Indexer to Typescript
  frontend/src/Indexer/Delete/DeleteIndexerModal.js
  frontend/src/Indexer/Delete/DeleteIndexerModal.tsx
  frontend/src/Indexer/Delete/DeleteIndexerModalContent.js
  frontend/src/Indexer/Delete/DeleteIndexerModalContent.tsx
  frontend/src/Indexer/Delete/DeleteIndexerModalContentConnector.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Convert Indexer Stats to Typescript
  frontend/.eslintrc.js
  frontend/src/App/AppRoutes.js
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/IndexerStatsAppState.ts
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Components/Form/PathInputConnector.js
  frontend/src/Components/Table/Cells/TableRowCellButton.css.d.ts
  frontend/src/Components/Table/Cells/TableRowCellButton.js
  frontend/src/Components/Table/Cells/TableRowCellButton.tsx
  frontend/src/Indexer/NoIndexer.tsx
  frontend/src/Indexer/Stats/IndexerStats.css
  frontend/src/Indexer/Stats/IndexerStats.css.d.ts
  frontend/src/Indexer/Stats/IndexerStats.tsx
  frontend/src/Indexer/Stats/IndexerStatsFilterMenu.tsx
  frontend/src/Indexer/Stats/Stats.js
  frontend/src/Indexer/Stats/StatsConnector.js
  frontend/src/Indexer/Stats/StatsFilterMenu.js
  frontend/src/Indexer/Stats/StatsFilterModalConnector.js
  frontend/src/typings/IndexerStats.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Store JSON documents as compact in database
  src/NzbDrone.Core/Datastore/Converters/CookieConverter.cs
  src/NzbDrone.Core/Datastore/Converters/EmbeddedDocumentConverter.cs
  src/NzbDrone.Core/ThingiProvider/ProviderRepository.cs
Labels: none

Fixed: (Cardigann) Improvements to automatic logins with captcha
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannRequestGenerator.cs
Labels: Area: Indexer

Add unit to history cleanup days option
  frontend/src/History/HistoryOptions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
Labels: none

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock
