Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Bump version to 1.14.2
  azure-pipelines.yml
Labels: none

Fixed: Don't disable IPv6 in IPv6-only Environment
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
Labels: none

Use proxied requests for indexers
  src/NzbDrone.Core/Indexers/Definitions/Anidub.cs
  src/NzbDrone.Core/Indexers/Definitions/Animedia.cs
  src/NzbDrone.Core/Indexers/Definitions/GazelleGames.cs
  src/NzbDrone.Core/Indexers/Definitions/Shazbat.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentRss/TorrentRssIndexer.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentRss/TorrentRssParserFactory.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentRss/TorrentRssSettingsDetector.cs
Labels: Area: Indexer

Fixed: WebApp functionality on Apple devices
  frontend/src/index.ejs
  frontend/src/login.html
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
Labels: none

Bump version to 1.14.3
  azure-pipelines.yml
Labels: none

Bump YamlDotNet, AngleSharp, BenchmarkDotNet
  src/NzbDrone.Core.Test/Prowlarr.Core.Test.csproj
  src/NzbDrone.Core/Prowlarr.Core.csproj
  src/Prowlarr.Benchmark.Test/Prowlarr.Benchmark.Test.csproj
Labels: none

Replace special chars in search term with wildcard for RuTracker
  src/NzbDrone.Core/Indexers/Definitions/RuTracker.cs
Labels: Area: Indexer

Fixes: Missing default path for Download Station
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/UsenetDownloadStation.cs
Labels: Area: Download Clients

Add download clients notice about sync to applications
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClients.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Add download clients notice about sync to applications
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClients.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fix stylelint command in package.json
  package.json
Labels: Area: UI

Convert Queued Tasks to TS
  frontend/src/Commands/Command.ts
  frontend/src/Helpers/Hooks/useModalOpenState.ts
  frontend/src/System/Tasks/Queued/QueuedTaskRow.css
  frontend/src/System/Tasks/Queued/QueuedTaskRow.js
  frontend/src/System/Tasks/Queued/QueuedTaskRow.tsx
  frontend/src/System/Tasks/Queued/QueuedTaskRowConnector.js
  frontend/src/System/Tasks/Queued/QueuedTaskRowNameCell.css
  frontend/src/System/Tasks/Queued/QueuedTaskRowNameCell.css.d.ts
  frontend/src/System/Tasks/Queued/QueuedTaskRowNameCell.tsx
  frontend/src/System/Tasks/Queued/QueuedTasks.js
  frontend/src/System/Tasks/Queued/QueuedTasks.tsx
  frontend/src/System/Tasks/Queued/QueuedTasksConnector.js
  frontend/src/System/Tasks/Tasks.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fixed: Disabled select option still selectable
  frontend/src/Components/Form/AppProfileSelectInputConnector.js
  frontend/src/Components/Form/AvailabilitySelectInput.js
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Helpers/Props/inputTypes.js
  frontend/src/Indexer/Index/Select/Edit/EditIndexerModalContent.tsx
  frontend/src/Settings/Applications/Applications/Manage/Edit/ManageApplicationsEditModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Edit/ManageDownloadClientsEditModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

feat: add ianon indexer
  src/NzbDrone.Core/Indexers/Definitions/iAnon.cs
Labels: Area: Indexer

Downgrade YamlDotNet and improve logging for definitions update
  src/NzbDrone.Core.Test/Prowlarr.Core.Test.csproj
  src/NzbDrone.Core/IndexerVersions/IndexerDefinitionUpdateService.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
  src/NzbDrone.Core/Prowlarr.Core.csproj
Labels: Area: Indexer

Remove Status from IndexerDefinition
  src/NzbDrone.Core/Indexers/IndexerDefinition.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Improve Search Types selection for BHD
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexer

Bump version to 1.15.0
  azure-pipelines.yml
Labels: none

Fixed: Move Reject Blocklisted Torrent Hashes While Grabbing to applications
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrSettings.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrSettings.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrSettings.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrSettings.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrSettings.cs
  src/NzbDrone.Core/Indexers/IndexerTorrentBaseSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/Prowlarr.Api.V1/Indexers/IndexerBulkResource.cs
Labels: Area: API, Area: Indexer

Fixed: Move Reject Blocklisted Torrent Hashes While Grabbing to applications
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrSettings.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrSettings.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrSettings.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrSettings.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrSettings.cs
  src/NzbDrone.Core/Indexers/IndexerTorrentBaseSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/Prowlarr.Api.V1/Indexers/IndexerBulkResource.cs
Labels: Area: API, Area: Indexer

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Remove bulk edit for Reject Blocklisted Torrent Hashes While Grabbing
  frontend/src/Indexer/Index/Select/Edit/EditIndexerModalContent.tsx
Labels: Area: UI

Fixed: (Cardigann) Avoid NullRef on forms with `multipart/form-data`
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannBase.cs
Labels: Area: Indexer

Improve search page button colors
  frontend/src/Indexer/Info/IndexerInfoModalContent.css
  frontend/src/Search/SearchFooter.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Pass general proxy credentials to FlareSolverr
  src/NzbDrone.Core/IndexerProxies/FlareSolverr/FlareSolverr.cs
Labels: none

Bump dotnet to 6.0.28
  azure-pipelines.yml
  src/NzbDrone.Core/Prowlarr.Core.csproj
  src/NzbDrone.Integration.Test/Prowlarr.Integration.Test.csproj
Labels: none

Fixed: (SceneHD) Category filtering
  src/NzbDrone.Core/Indexers/Definitions/SceneHD.cs
Labels: Area: Indexer

Remove duplicated parameter
  src/NzbDrone.Core/Indexers/Definitions/SceneHD.cs
Labels: Area: Indexer

Update timezone offset for PHD/CZ
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazParserBase.cs
Labels: Area: Indexer

Fix tests for PHD
  src/NzbDrone.Core.Test/IndexerTests/AvistazTests/PrivateHDFixture.cs
Labels: none

Fixed: (SubsPlease) Season search improvements and support for movie searches
  src/NzbDrone.Core/Indexers/Definitions/SubsPlease.cs
Labels: Area: Indexer

Fixed: Task progress messages in the UI
  src/NzbDrone.Core/Applications/ApplicationIndexerSyncCommand.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Messaging/Commands/Command.cs
  src/NzbDrone.Core/ProgressMessaging/ProgressMessageContext.cs
  src/NzbDrone.Core/Update/Commands/ApplicationUpdateCommand.cs
Labels: none

Improve Indexer Proxy healthcheck messaging
  src/NzbDrone.Core/HealthCheck/Checks/IndexerProxyStatusCheck.cs
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock
