Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

New: (Orpheus) Add options to prevent downloads without FL tokens
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
Labels: Area: Indexer

Fixed: (Search) Releases deduplication
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Bump version to 1.9.2
  azure-pipelines.yml
Labels: none

Extend the torrent settings interface in TorrentPotato settings class
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotatoSettings.cs
Labels: Area: Indexer

Allow using filename for single episodes along with generated titles in AnimeBytes
  src/NzbDrone.Core/Indexers/Definitions/AnimeBytes.cs
Labels: Area: Indexer

Fix the description for `Use Filenames for Single Episodes`
  src/NzbDrone.Core/Indexers/Definitions/AnimeBytes.cs
Labels: Area: Indexer

Fixed: (Shizaproject) Available again
  src/NzbDrone.Core/Indexers/Definitions/Shizaproject.cs
Labels: Area: Indexer

Fixed: (Shizaproject) Available again
  src/NzbDrone.Core/Indexers/Definitions/Shizaproject.cs
Labels: Area: Indexer

Fixed: (TorrentPotato) Title not being decoded
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotatoParser.cs
Labels: Area: Indexer

Fixed: (TorrentPotato) Use full IMDb Id
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotatoRequestGenerator.cs
Labels: Area: Indexer

Bump version to 1.9.3
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: (Orpheus) Add options to prevent downloads without FL tokens
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
Labels: Area: Indexer

Revert "New: (Orpheus) Add options to prevent downloads without FL tokens"
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
Labels: Area: Indexer

Fixed: (Shizaproject) Title improvements
  src/NzbDrone.Core/Indexers/Definitions/Shizaproject.cs
Labels: Area: Indexer

Fixed: (PassThePopcorn) Cleanup and ensure pagination is working in Radarr
  src/NzbDrone.Core.Test/IndexerTests/PTPTests/PTPFixture.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcorn.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornApi.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornParser.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornSettings.cs
Labels: Area: Indexer

Fixed: (PassThePopcorn) Use UTC for publish dates
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornApi.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornParser.cs
Labels: Area: Indexer

Fixed: (FileList) Parse response with STJson
  src/NzbDrone.Common/Serializer/System.Text.Json/BooleanConverter.cs
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListApi.cs
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListParser.cs
Labels: Area: Indexer

Fixed: (BeyondHD) Parse response with STJson
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexer

Fixed: (Nebulance) Parse response with STJson
  src/NzbDrone.Core/Indexers/Definitions/Nebulance.cs
Labels: Area: Indexer

Fixed: (AvistaZBase) Parse response with STJson
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazApi.cs
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazBase.cs
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazParserBase.cs
Labels: Area: Indexer

Use ExecuteAuth in AvistazBase
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazBase.cs
Labels: Area: Indexer

Cleanup BooleanConverter to STJson
  src/NzbDrone.Common/Serializer/System.Text.Json/STJson.cs
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListApi.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Ensure the correct use of disposable parsed documents
  src/NzbDrone.Core/Indexers/Definitions/Anidex.cs
  src/NzbDrone.Core/Indexers/Definitions/Anidub.cs
  src/NzbDrone.Core/Indexers/Definitions/AnimeTorrents.cs
  src/NzbDrone.Core/Indexers/Definitions/Animedia.cs
  src/NzbDrone.Core/Indexers/Definitions/Anthelion.cs
  src/NzbDrone.Core/Indexers/Definitions/AroLol.cs
  src/NzbDrone.Core/Indexers/Definitions/AudioBookBay.cs
  src/NzbDrone.Core/Indexers/Definitions/BB.cs
  src/NzbDrone.Core/Indexers/Definitions/BakaBT.cs
  src/NzbDrone.Core/Indexers/Definitions/BinSearch.cs
  src/NzbDrone.Core/Indexers/Definitions/BitHDTV.cs
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/FunFile.cs
  src/NzbDrone.Core/Indexers/Definitions/HDSpace.cs
  src/NzbDrone.Core/Indexers/Definitions/HDTorrents.cs
  src/NzbDrone.Core/Indexers/Definitions/IPTorrents.cs
  src/NzbDrone.Core/Indexers/Definitions/ImmortalSeed.cs
  src/NzbDrone.Core/Indexers/Definitions/Libble.cs
  src/NzbDrone.Core/Indexers/Definitions/MoreThanTV.cs
  src/NzbDrone.Core/Indexers/Definitions/NorBits.cs
  src/NzbDrone.Core/Indexers/Definitions/PirateTheNet.cs
  src/NzbDrone.Core/Indexers/Definitions/PixelHD.cs
  src/NzbDrone.Core/Indexers/Definitions/PreToMe.cs
  src/NzbDrone.Core/Indexers/Definitions/RevolutionTT.cs
  src/NzbDrone.Core/Indexers/Definitions/RuTracker.cs
  src/NzbDrone.Core/Indexers/Definitions/SceneTime.cs
  src/NzbDrone.Core/Indexers/Definitions/Shazbat.cs
  src/NzbDrone.Core/Indexers/Definitions/SpeedCD.cs
  src/NzbDrone.Core/Indexers/Definitions/TVVault.cs
  src/NzbDrone.Core/Indexers/Definitions/Toloka.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentBytes.cs
  src/NzbDrone.Core/Indexers/Definitions/Uniotaku.cs
  src/NzbDrone.Core/Indexers/Definitions/XSpeeds.cs
  src/NzbDrone.Core/Indexers/Definitions/ZonaQ.cs
Labels: Area: Indexer

Ensure the correct use of disposable parsed documents
  src/NzbDrone.Core/Indexers/Definitions/Anidex.cs
  src/NzbDrone.Core/Indexers/Definitions/Anidub.cs
  src/NzbDrone.Core/Indexers/Definitions/AnimeTorrents.cs
  src/NzbDrone.Core/Indexers/Definitions/Animedia.cs
  src/NzbDrone.Core/Indexers/Definitions/Anthelion.cs
  src/NzbDrone.Core/Indexers/Definitions/AroLol.cs
  src/NzbDrone.Core/Indexers/Definitions/AudioBookBay.cs
  src/NzbDrone.Core/Indexers/Definitions/BB.cs
  src/NzbDrone.Core/Indexers/Definitions/BakaBT.cs
  src/NzbDrone.Core/Indexers/Definitions/BinSearch.cs
  src/NzbDrone.Core/Indexers/Definitions/BitHDTV.cs
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/FunFile.cs
  src/NzbDrone.Core/Indexers/Definitions/HDSpace.cs
  src/NzbDrone.Core/Indexers/Definitions/HDTorrents.cs
  src/NzbDrone.Core/Indexers/Definitions/IPTorrents.cs
  src/NzbDrone.Core/Indexers/Definitions/ImmortalSeed.cs
  src/NzbDrone.Core/Indexers/Definitions/Libble.cs
  src/NzbDrone.Core/Indexers/Definitions/MoreThanTV.cs
  src/NzbDrone.Core/Indexers/Definitions/NorBits.cs
  src/NzbDrone.Core/Indexers/Definitions/PirateTheNet.cs
  src/NzbDrone.Core/Indexers/Definitions/PixelHD.cs
  src/NzbDrone.Core/Indexers/Definitions/PreToMe.cs
  src/NzbDrone.Core/Indexers/Definitions/RevolutionTT.cs
  src/NzbDrone.Core/Indexers/Definitions/RuTracker.cs
  src/NzbDrone.Core/Indexers/Definitions/SceneTime.cs
  src/NzbDrone.Core/Indexers/Definitions/Shazbat.cs
  src/NzbDrone.Core/Indexers/Definitions/SpeedCD.cs
  src/NzbDrone.Core/Indexers/Definitions/TVVault.cs
  src/NzbDrone.Core/Indexers/Definitions/Toloka.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentBytes.cs
  src/NzbDrone.Core/Indexers/Definitions/Uniotaku.cs
  src/NzbDrone.Core/Indexers/Definitions/XSpeeds.cs
  src/NzbDrone.Core/Indexers/Definitions/ZonaQ.cs
Labels: Area: Indexer

Fix document being disposed before returning
  src/NzbDrone.Core/Indexers/Definitions/AudioBookBay.cs
Labels: Area: Indexer

Add poster URL to PassThePopcorn
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornParser.cs
Labels: Area: Indexer

Add year to XML results
  src/NzbDrone.Core/IndexerSearch/NewznabResults.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornParser.cs
Labels: Area: Indexer

Parse description in RSS Parser
  src/NzbDrone.Core/Indexers/RssParser.cs
Labels: Area: Indexer

Fixed: (TorrentDay) Update categories
  src/NzbDrone.Core/Indexers/Definitions/TorrentDay.cs
Labels: Area: Indexer

Fixed: (Nebulance) Filter releases by season and episode for ID based searches
  src/NzbDrone.Core/Indexers/Definitions/Nebulance.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
Labels: Area: Indexer

New: Don't treat 400 responses from Notifiarr as errors
  src/NzbDrone.Core/Notifications/Notifiarr/NotifiarrProxy.cs
Labels: Area: Notifications

Bump version to 1.9.4
  azure-pipelines.yml
Labels: none

Fixed: (FileList) Remove dead domain
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileList.cs
Labels: Area: Indexer

Improved http timeout handling
  src/NzbDrone.Common.Test/Http/HttpClientFixture.cs
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
Labels: none

Fix test for http client
  src/NzbDrone.Common.Test/Http/HttpClientFixture.cs
Labels: none

Use async for http client test
  src/NzbDrone.Common.Test/Http/HttpClientFixture.cs
Labels: none

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock
