Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

Remove invalid Turkish translations
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Bump version to 1.11.3
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
Labels: none

Bump version to 1.11.4
  azure-pipelines.yml
Labels: none

Fixed: BinSearch removed
  src/NzbDrone.Core/Indexers/Definitions/BinSearch.cs
Labels: Area: Indexer

New: (Discord) Remove size grab field
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordFieldType.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordSettings.cs
Labels: Area: Notifications

Minor cleanup in AudioBookBay
  src/NzbDrone.Core/Indexers/Definitions/AudioBookBay.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
Labels: none

Fixed: (AvistaZ) Parse absolute searches as episode only
  src/NzbDrone.Core/Indexers/Definitions/AvistaZ.cs
Labels: Area: Indexer

Fixed: Don't die when grabbing releases in bulk
  frontend/src/Store/Actions/releaseActions.js
  src/Prowlarr.Api.V1/Search/SearchController.cs
Labels: Area: API, Area: UI

Bump version to 1.12.0
  azure-pipelines.yml
Labels: none

Fixed: Ignore empty tags when adding items to Flood
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
Labels: Area: Download Clients

New: Add qBittorrent option for Content Layout
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentContentLayout.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Download Clients

Translate fields on the backend
  src/NzbDrone.Core/Annotations/FieldDefinitionAttribute.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Integration.Test/Client/IndexerClient.cs
  src/NzbDrone.Integration.Test/IntegrationTest.cs
  src/NzbDrone.Test.Common/AutoMoq/AutoMoqer.cs
  src/Prowlarr.Api.V1.Test/ClientSchemaTests/SchemaBuilderFixture.cs
  src/Prowlarr.Http/ClientSchema/SchemaBuilder.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/sv.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/hu.json
Labels: none

Fixed: Disable SSL on start if certificate path is not set
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Fixed: (GGn) Improve title, timezone, MST, min/max size filters
  src/NzbDrone.Core.Test/IndexerTests/GazelleGamesTests/GazelleGamesFixture.cs
  src/NzbDrone.Core/Indexers/Definitions/GazelleGames.cs
Labels: Area: Indexer

Fixed: (GGn) Improve title, timezone, MST, min/max size filters
  src/NzbDrone.Core.Test/IndexerTests/GazelleGamesTests/GazelleGamesFixture.cs
  src/NzbDrone.Core/Indexers/Definitions/GazelleGames.cs
Labels: Area: Indexer

New: (MAM) Filter releases by Min/Max size
  src/NzbDrone.Core/Indexers/Definitions/MyAnonamouse.cs
Labels: Area: Indexer

New: (MAM) Book title and author returned in response
  src/NzbDrone.Core/Indexers/Definitions/MyAnonamouse.cs
Labels: Area: Indexer

Update end date for RED freeload event
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Bump version to 1.12.1
  azure-pipelines.yml
Labels: none

Fixed: Filter history by multiple event types
  src/Prowlarr.Api.V1/History/HistoryController.cs
Labels: Area: API

New: History custom filters
  frontend/src/App/State/AppSectionState.ts
  frontend/src/App/State/HistoryAppState.ts
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/FilterBuilderRowValueProps.ts
  frontend/src/Components/Filter/Builder/HistoryEventTypeFilterBuilderRowValue.tsx
  frontend/src/Helpers/Props/filterBuilderValueTypes.js
  frontend/src/History/History.js
  frontend/src/History/HistoryConnector.js
  frontend/src/History/HistoryFilterModal.tsx
  frontend/src/Store/Actions/Creators/createFetchServerSideCollectionHandler.js
  frontend/src/Store/Actions/historyActions.js
  frontend/src/Store/Actions/indexerStatsActions.js
  src/Prowlarr.Api.V1/History/HistoryController.cs
Labels: Area: API, Area: UI

Fix CS in History
  frontend/src/History/History.js
Labels: Area: UI

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Log web exceptions in test connection
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
Labels: Area: Indexer

Fixed: (HDBits) Strip non-word chars from search query
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsRequestGenerator.cs
Labels: Area: Indexer

New: Handle health checks with matching indexer tags
  src/NzbDrone.Core/HealthCheck/Checks/IndexerDownloadClientCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerLongTermStatusCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerStatusCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerVIPCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerVIPExpiredCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/OutdatedDefinitionCheck.cs
  src/NzbDrone.Core/HealthCheck/HealthCheck.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: Area: Notifications

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock
