Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock

Fixed: (UI) Add New Indexer button on search page when no indexers are present
  frontend/src/Search/SearchIndex.js
Labels: Area: UI

Add ContentSummary to HDBits requests
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsRequestGenerator.cs
Labels: Area: Indexer

New: (UI) Show indexer categories in info modal
  frontend/src/Indexer/Info/IndexerInfoModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: (UI) Show indexer categories in info modal
  frontend/src/Indexer/Info/IndexerInfoModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fixed: (API) Prevent NullRef when searching empty query with a non-default type
  src/NzbDrone.Core/IndexerSearch/NewznabRequest.cs
Labels: none

Fixed: (Cardigann) Skip to next download selector when max redirects reached
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannRequestGenerator.cs
Labels: Area: Indexer

Add indexer id in logs for invalid dates in Cardigann definitions
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannBase.cs
Labels: Area: Indexer

Fixed: (Cardigann) Throw exception only when all download selectors fail
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannRequestGenerator.cs
Labels: Area: Indexer

Add more trace logs related info to bug_report.yml [skip ci]
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Fix apprise server url migration
  src/NzbDrone.Core.Test/Datastore/Migration/031_apprise_server_urlFixture.cs
  src/NzbDrone.Core/Datastore/Migration/031_apprise_server_url.cs
Labels: Area: Db-migration

Fix apprise server url migration
  src/NzbDrone.Core.Test/Datastore/Migration/031_apprise_server_urlFixture.cs
  src/NzbDrone.Core/Datastore/Migration/031_apprise_server_url.cs
Labels: Area: Db-migration

Fixed: (Apps) Use `forceSave=true` to avoid validation warnings
  src/NzbDrone.Core/Applications/Lidarr/LidarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrV3Proxy.cs
Labels: none

Bump version to 1.6.3
  azure-pipelines.yml
Labels: none

Bump version to 1.7.0
  azure-pipelines.yml
Labels: none

Fixed: (Apps) Use `forceSave=true` to avoid validation warnings
  src/NzbDrone.Core/Applications/Lidarr/LidarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrV3Proxy.cs
Labels: none

Fix: (UI) Maintain search type and parameters on repeat search
  frontend/src/History/Details/HistoryDetails.js
  frontend/src/History/HistoryRow.js
  frontend/src/History/HistoryRowConnector.js
  frontend/src/History/historyDataTypes.js
  src/NzbDrone.Core.Test/Datastore/Migration/034_history_fix_data_titlesFixture.cs
  src/NzbDrone.Core/Datastore/Migration/034_history_fix_data_titles.cs
  src/NzbDrone.Core/History/HistoryService.cs
Labels: Area: Db-migration, Area: UI

Don't save empty data in history service
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

Fixed: (Apps) Ensure validation for test connection
  src/NzbDrone.Core/Applications/LazyLibrarian/LazyLibrarian.cs
  src/NzbDrone.Core/Applications/LazyLibrarian/LazyLibrarianSettings.cs
  src/NzbDrone.Core/Applications/LazyLibrarian/LazyLibrarianV1Proxy.cs
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrSettings.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Mylar/Mylar.cs
  src/NzbDrone.Core/Applications/Mylar/MylarSettings.cs
  src/NzbDrone.Core/Applications/Mylar/MylarV3Proxy.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrSettings.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrSettings.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrSettings.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrSettings.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrV3Proxy.cs
Labels: none

Don't save empty data in history service
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

Fix: (UI) Maintain search type and parameters on repeat search
  frontend/src/History/Details/HistoryDetails.js
  frontend/src/History/HistoryRow.js
  frontend/src/History/HistoryRowConnector.js
  frontend/src/History/historyDataTypes.js
  src/NzbDrone.Core.Test/Datastore/Migration/034_history_fix_data_titlesFixture.cs
  src/NzbDrone.Core/Datastore/Migration/034_history_fix_data_titles.cs
  src/NzbDrone.Core/History/HistoryService.cs
Labels: Area: Db-migration, Area: UI

Execute update queries only for certain rows in migration 34
  src/NzbDrone.Core/Datastore/Migration/034_history_fix_data_titles.cs
Labels: Area: Db-migration

Execute update queries only for certain rows in migration 34
  src/NzbDrone.Core/Datastore/Migration/034_history_fix_data_titles.cs
Labels: Area: Db-migration

Check for event type to prevent multiple runs on the same row
  src/NzbDrone.Core/Datastore/Migration/034_history_fix_data_titles.cs
Labels: Area: Db-migration

Exclude RSS history events in migration
  src/NzbDrone.Core/Datastore/Migration/034_history_fix_data_titles.cs
Labels: Area: Db-migration

Fixed: (Apps) Ensure validation for test connection
  src/NzbDrone.Core/Applications/LazyLibrarian/LazyLibrarian.cs
  src/NzbDrone.Core/Applications/LazyLibrarian/LazyLibrarianSettings.cs
  src/NzbDrone.Core/Applications/LazyLibrarian/LazyLibrarianV1Proxy.cs
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrSettings.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Mylar/Mylar.cs
  src/NzbDrone.Core/Applications/Mylar/MylarSettings.cs
  src/NzbDrone.Core/Applications/Mylar/MylarV3Proxy.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrSettings.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrSettings.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrSettings.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrSettings.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrV3Proxy.cs
Labels: none

Add ContentSummary to BeyondHD requests
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexer

Create overload for ToJson for Formatting
  src/NzbDrone.Common/Serializer/Newtonsoft.Json/Json.cs
Labels: none

Add ContentSummary to HDBits requests
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsRequestGenerator.cs
Labels: Area: Indexer

Add close reason to label actions
  .github/label-actions.yml
Labels: none

Fixed: (PornoLab) Moved to YML for Cardigann
  src/NzbDrone.Core/Indexers/Definitions/PornoLab.cs
Labels: Area: Indexer

Fixed: (Cardigann) Don't check for captcha when captcha answer is empty
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannRequestGenerator.cs
Labels: Area: Indexer

Fixed: Misaligned table border in history
  frontend/src/History/HistoryRow.css
  frontend/src/History/HistoryRow.css.d.ts
  frontend/src/History/HistoryRow.js
Labels: Area: UI

New: Show query type in history
  frontend/src/History/HistoryRow.js
  frontend/src/Store/Actions/historyActions.js
Labels: Area: UI

Fixed: (Stats) Exclude cached queries from average elapsed time
  src/NzbDrone.Core/IndexerStats/IndexerStatisticsService.cs
Labels: none

Add missing translation for query type
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Bump version to 1.7.1
  azure-pipelines.yml
Labels: none

New: (HttpClient) Add HTTP/2 support
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
  src/NzbDrone.Common/Http/HttpResponse.cs
Labels: none

Add x265 categories for Movies and TV in Newznab
  src/NzbDrone.Core/Applications/Radarr/RadarrSettings.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrSettings.cs
  src/NzbDrone.Core/Indexers/NewznabStandardCategory.cs
Labels: Area: Indexer

Add x265 categories for Movies and TV in Newznab
  src/NzbDrone.Core/Applications/Radarr/RadarrSettings.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrSettings.cs
  src/NzbDrone.Core/Indexers/NewznabStandardCategory.cs
Labels: Area: Indexer

New: (HttpClient) Add HTTP/2 support
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
  src/NzbDrone.Common/Http/HttpResponse.cs
Labels: none
