Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock

New: Set default names for providers in Add Modals
  frontend/src/Indexer/Indexer.ts
  frontend/src/Store/Actions/Settings/applications.js
  frontend/src/Store/Actions/Settings/downloadClients.js
  frontend/src/Store/Actions/Settings/indexerProxies.js
  frontend/src/Store/Actions/Settings/notifications.js
  frontend/src/typings/Notification.ts
  src/NzbDrone.Core/Applications/ApplicationBase.cs
  src/NzbDrone.Core/Download/DownloadClientBase.cs
  src/NzbDrone.Core/IndexerProxies/IndexerProxyBase.cs
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

New: (IPTorrents) Add new base url
  src/NzbDrone.Core/Indexers/Definitions/IPTorrents.cs
Labels: Area: Indexer

Support categories with Transmission
  src/NzbDrone.Core/Download/Clients/Transmission/Transmission.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
Labels: Area: Download Clients

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ro.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ro.json
Labels: none

Convert some selectors to Typescript
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/CommandAppState.ts
  frontend/src/App/State/IndexerAppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Commands/Command.ts
  frontend/src/Indexer/Index/Table/IndexerStatusCell.tsx
  frontend/src/Store/Selectors/createAllIndexersSelector.ts
  frontend/src/Store/Selectors/createCommandsSelector.ts
  frontend/src/Store/Selectors/createExecutingCommandsSelector.ts
  frontend/src/Store/Selectors/createIndexerAppProfileSelector.ts
  frontend/src/Store/Selectors/createIndexerStatusSelector.js
  frontend/src/Store/Selectors/createIndexerStatusSelector.ts
  frontend/src/Store/Selectors/createTagsSelector.ts
Labels: Area: UI

Fixed: (Apps) Ensure populated capabilities for Torznab/Newznab definitions
  src/NzbDrone.Core/Applications/ApplicationService.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/Newznab.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabCapabilitiesProvider.cs
  src/NzbDrone.Core/Indexers/Definitions/Torznab/Torznab.cs
Labels: Area: Indexer

Fixed: Ensure failing indexers are marked as failed when testing all
  src/NzbDrone.Core/Indexers/Definitions/Newznab/Newznab.cs
  src/NzbDrone.Core/Indexers/Definitions/Torznab/Torznab.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
Labels: Area: Indexer

Sort indexers by name in search footer dropdown
  frontend/src/Components/Form/IndexersSelectInputConnector.js
Labels: Area: UI

Bump version to 1.8.1
  azure-pipelines.yml
Labels: none

Support categories with Transmission
  src/NzbDrone.Core/Download/Clients/Transmission/Transmission.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
Labels: Area: Download Clients

Convert store selectors to Typescript
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/IndexerAppState.ts
  frontend/src/App/State/ReleaseAppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/App/State/SystemAppState.ts
  frontend/src/App/State/TagsAppState.ts
  frontend/src/Indexer/Delete/DeleteIndexerModalContent.tsx
  frontend/src/Indexer/Index/Table/IndexerIndexRow.tsx
  frontend/src/Indexer/Index/createIndexerIndexItemSelector.ts
  frontend/src/Indexer/Indexer.ts
  frontend/src/Indexer/Info/IndexerInfoModalContent.tsx
  frontend/src/Store/Selectors/createAppProfileSelector.js
  frontend/src/Store/Selectors/createAppProfileSelector.ts
  frontend/src/Store/Selectors/createCommandExecutingSelector.ts
  frontend/src/Store/Selectors/createCommandSelector.js
  frontend/src/Store/Selectors/createCommandSelector.ts
  frontend/src/Store/Selectors/createDeepEqualSelector.js
  frontend/src/Store/Selectors/createDeepEqualSelector.ts
  frontend/src/Store/Selectors/createExistingIndexerSelector.ts
  frontend/src/Store/Selectors/createIndexerAppProfileSelector.ts
  frontend/src/Store/Selectors/createIndexerSelector.js
  frontend/src/Store/Selectors/createIndexerSelector.ts
  frontend/src/Store/Selectors/createProfileInUseSelector.js
  frontend/src/Store/Selectors/createProfileInUseSelector.ts
  frontend/src/Store/Selectors/createSystemStatusSelector.ts
  frontend/src/Store/Selectors/createTagDetailsSelector.ts
  frontend/src/Store/Selectors/createUISettingsSelector.ts
  frontend/src/typings/Indexer.ts
  frontend/src/typings/Release.ts
  frontend/src/typings/SystemStatus.ts
Labels: Area: UI

New: (Apps) Add force sync indexers for applications
  frontend/src/App/AppRoutes.js
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Indexer/Index/IndexerIndex.tsx
  frontend/src/Settings/Applications/ApplicationSettings.js
  frontend/src/Settings/Applications/ApplicationSettings.tsx
  frontend/src/Settings/Applications/ApplicationSettingsConnector.js
  src/NzbDrone.Core/Applications/ApplicationBase.cs
  src/NzbDrone.Core/Applications/ApplicationIndexerSyncCommand.cs
  src/NzbDrone.Core/Applications/ApplicationService.cs
  src/NzbDrone.Core/Applications/IApplication.cs
  src/NzbDrone.Core/Applications/LazyLibrarian/LazyLibrarian.cs
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrIndexer.cs
  src/NzbDrone.Core/Applications/Mylar/Mylar.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrIndexer.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrIndexer.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrIndexer.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrIndexer.cs
  src/Prowlarr.Api.V1/Indexers/IndexerStatusController.cs
Labels: Area: API, Area: UI

Convert store selectors to Typescript
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/IndexerAppState.ts
  frontend/src/App/State/ReleaseAppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/App/State/SystemAppState.ts
  frontend/src/App/State/TagsAppState.ts
  frontend/src/Indexer/Delete/DeleteIndexerModalContent.tsx
  frontend/src/Indexer/Index/Table/IndexerIndexRow.tsx
  frontend/src/Indexer/Index/createIndexerIndexItemSelector.ts
  frontend/src/Indexer/Indexer.ts
  frontend/src/Indexer/Info/IndexerInfoModalContent.tsx
  frontend/src/Store/Selectors/createAppProfileSelector.js
  frontend/src/Store/Selectors/createAppProfileSelector.ts
  frontend/src/Store/Selectors/createCommandExecutingSelector.ts
  frontend/src/Store/Selectors/createCommandSelector.js
  frontend/src/Store/Selectors/createCommandSelector.ts
  frontend/src/Store/Selectors/createDeepEqualSelector.js
  frontend/src/Store/Selectors/createDeepEqualSelector.ts
  frontend/src/Store/Selectors/createExistingIndexerSelector.ts
  frontend/src/Store/Selectors/createIndexerAppProfileSelector.ts
  frontend/src/Store/Selectors/createIndexerSelector.js
  frontend/src/Store/Selectors/createIndexerSelector.ts
  frontend/src/Store/Selectors/createProfileInUseSelector.js
  frontend/src/Store/Selectors/createProfileInUseSelector.ts
  frontend/src/Store/Selectors/createSystemStatusSelector.ts
  frontend/src/Store/Selectors/createTagDetailsSelector.ts
  frontend/src/Store/Selectors/createUISettingsSelector.ts
  frontend/src/typings/Indexer.ts
  frontend/src/typings/Release.ts
  frontend/src/typings/SystemStatus.ts
Labels: Area: UI

New: (Apps) Add force sync indexers for applications
  frontend/src/App/AppRoutes.js
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Indexer/Index/IndexerIndex.tsx
  frontend/src/Settings/Applications/ApplicationSettings.js
  frontend/src/Settings/Applications/ApplicationSettings.tsx
  frontend/src/Settings/Applications/ApplicationSettingsConnector.js
  src/NzbDrone.Core/Applications/ApplicationBase.cs
  src/NzbDrone.Core/Applications/ApplicationIndexerSyncCommand.cs
  src/NzbDrone.Core/Applications/ApplicationService.cs
  src/NzbDrone.Core/Applications/IApplication.cs
  src/NzbDrone.Core/Applications/LazyLibrarian/LazyLibrarian.cs
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrIndexer.cs
  src/NzbDrone.Core/Applications/Mylar/Mylar.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrIndexer.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrIndexer.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrIndexer.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrIndexer.cs
  src/Prowlarr.Api.V1/Indexers/IndexerStatusController.cs
Labels: Area: API, Area: UI

New: (Apps) Show application name as source for requests
  src/NzbDrone.Common/Http/UserAgentParser.cs
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrIndexer.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrIndexer.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrIndexer.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrIndexer.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrIndexer.cs
  src/Prowlarr.Http/Extensions/RequestExtensions.cs
Labels: none

Re-order frontend build steps
  build.sh
Labels: none

Ensure yarn packages are installed when running only LintUI
  build.sh
Labels: none

Fixed: (Apps) Avoid force saving remote indexers when it's not necessary
  src/NzbDrone.Core/Applications/Lidarr/LidarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrV3Proxy.cs
Labels: none

New: (UI) Show Magnet Link in search results if any
  frontend/src/Helpers/Props/icons.js
  frontend/src/Search/Mobile/SearchIndexOverview.js
  frontend/src/Search/Mobile/SearchIndexOverviews.js
  frontend/src/Search/Table/SearchIndexRow.css
  frontend/src/Search/Table/SearchIndexRow.js
Labels: Area: UI

Fixed: Don't fetch capabilities for disabled Newznab/Torznab indexers on create
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
  src/NzbDrone.Core/Indexers/IndexerHttpClient.cs
Labels: Area: Indexer

UI loading improvements
  frontend/build/webpack.config.js
  frontend/src/Utilities/String/translate.ts
  frontend/src/bootstrap.tsx
  frontend/src/index.ejs
  frontend/src/index.ts
  frontend/tsconfig.json
  package.json
  src/Prowlarr.Http/Frontend/InitializeJsController.cs
  src/Prowlarr.Http/Frontend/InitializeJsonController.cs
  src/Prowlarr.Http/Frontend/Mappers/HtmlMapperBase.cs
  src/Prowlarr.Http/Frontend/Mappers/StaticResourceMapper.cs
  src/Prowlarr.Http/Middleware/CacheableSpecification.cs
Labels: Area: UI

Fixed: Improve translation loading
  frontend/src/App/App.js
  frontend/src/Components/Page/ErrorPage.js
  frontend/src/Components/Page/PageConnector.js
  frontend/src/Store/Actions/appActions.js
  frontend/src/bootstrap.tsx
Labels: Area: UI

Fixed: Translations for columns
  frontend/src/Components/Icon.js
  frontend/src/Store/Middleware/createPersistState.js
Labels: Area: UI

New: More translations for columns
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Form/SelectInput.js
  frontend/src/Components/Menu/FilterMenuContent.js
  frontend/src/Components/Table/Column.ts
  frontend/src/Components/Table/Table.js
  frontend/src/Components/Table/TableHeaderCell.js
  frontend/src/Components/Table/TableOptions/TableOptionsColumn.js
  frontend/src/Components/Table/TableOptions/TableOptionsColumnDragSource.js
  frontend/src/Indexer/Index/Table/IndexerIndexTableHeader.tsx
Labels: Area: UI

New: Add translations for columns
  frontend/src/Components/FileBrowser/FileBrowserModalContent.js
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/Components/Page/Sidebar/PageSidebarItem.js
  frontend/src/Indexer/Add/AddIndexerModalContent.js
  frontend/src/Indexer/Index/Select/Edit/EditIndexerModalContent.tsx
  frontend/src/Search/Table/SearchIndexHeader.js
  frontend/src/Settings/Applications/Applications/Manage/Edit/ManageApplicationsEditModalContent.tsx
  frontend/src/Settings/Applications/Applications/Manage/ManageApplicationsModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/Edit/ManageDownloadClientsEditModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Store/Actions/historyActions.js
  frontend/src/Store/Actions/indexerActions.js
  frontend/src/Store/Actions/indexerIndexActions.js
  frontend/src/Store/Actions/indexerStatsActions.js
  frontend/src/Store/Actions/oAuthActions.js
  frontend/src/Store/Actions/releaseActions.js
  frontend/src/Store/Actions/systemActions.js
  frontend/src/System/Backup/Backups.js
  frontend/src/System/Logs/Files/LogFiles.js
  frontend/src/System/Status/Health/Health.js
  frontend/src/System/Tasks/Queued/QueuedTasks.js
  frontend/src/System/Tasks/Scheduled/ScheduledTasks.js
Labels: Area: UI

Automated API Docs update [skip ci]
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update [skip ci]
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Prevent NullRef in ContainsInvalidPathChars
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

New: Health check for indexers with invalid download client
  src/NzbDrone.Core/HealthCheck/Checks/IndexerDownloadClientCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fix translations for option values
  frontend/src/Components/Form/HintedSelectInputOption.js
  frontend/src/Search/QueryParameterModal.js
  frontend/src/Settings/Applications/Applications/EditApplicationModalContent.js
Labels: Area: UI

New: Ignore inaccessible files with getting files
  src/NzbDrone.Common.Test/DiskTests/DiskTransferServiceFixture.cs
  src/NzbDrone.Common/ArchiveService.cs
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
  src/NzbDrone.Common/Disk/IDiskProvider.cs
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
  src/NzbDrone.Core/Backup/BackupService.cs
  src/NzbDrone.Mono.Test/EnvironmentInfo/VersionAdapters/MacOsVersionAdapterFixture.cs
  src/NzbDrone.Mono.Test/EnvironmentInfo/VersionAdapters/ReleaseFileVersionAdapterFixture.cs
  src/NzbDrone.Mono/EnvironmentInfo/VersionAdapters/IssueFileVersionAdapter.cs
  src/NzbDrone.Mono/EnvironmentInfo/VersionAdapters/MacOsVersionAdapter.cs
  src/NzbDrone.Mono/EnvironmentInfo/VersionAdapters/ReleaseFileVersionAdapter.cs
  src/NzbDrone.Mono/EnvironmentInfo/VersionAdapters/SynologyVersionAdapter.cs
  src/Prowlarr.Api.V1/Logs/LogFileController.cs
  src/Prowlarr.Api.V1/Logs/UpdateLogFileController.cs
Labels: Area: API

New: Ignore inaccessible files with getting files
  src/NzbDrone.Common.Test/DiskTests/DiskTransferServiceFixture.cs
  src/NzbDrone.Common/ArchiveService.cs
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
  src/NzbDrone.Common/Disk/IDiskProvider.cs
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
  src/NzbDrone.Core/Backup/BackupService.cs
  src/NzbDrone.Mono.Test/EnvironmentInfo/VersionAdapters/MacOsVersionAdapterFixture.cs
  src/NzbDrone.Mono.Test/EnvironmentInfo/VersionAdapters/ReleaseFileVersionAdapterFixture.cs
  src/NzbDrone.Mono/EnvironmentInfo/VersionAdapters/IssueFileVersionAdapter.cs
  src/NzbDrone.Mono/EnvironmentInfo/VersionAdapters/MacOsVersionAdapter.cs
  src/NzbDrone.Mono/EnvironmentInfo/VersionAdapters/ReleaseFileVersionAdapter.cs
  src/NzbDrone.Mono/EnvironmentInfo/VersionAdapters/SynologyVersionAdapter.cs
  src/Prowlarr.Api.V1/Logs/LogFileController.cs
  src/Prowlarr.Api.V1/Logs/UpdateLogFileController.cs
Labels: Area: API

Fixed: (AlphaRatio) Use FL tokens only if `canUseToken` is true
  src/NzbDrone.Core/Indexers/Definitions/AlphaRatio.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleParser.cs
  src/NzbDrone.Core/Indexers/Definitions/GreatPosterWall.cs
Labels: Area: Indexer

Fixed: Compatibility with the new Download Station API
  src/NzbDrone.Core/Download/Clients/DownloadStation/DiskStationApi.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DiskStationApiInfo.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DownloadStation2Task.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DownloadStationTask.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DownloadStationTaskAdditional.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DownloadStationTaskFile.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DSMInfoProxy.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DiskStationProxyBase.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationInfoProxy.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxySelector.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxyV1.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxyV2.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/FileStationProxy.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DSMInfoResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DiskStationAuthResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DiskStationError.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DiskStationInfoResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DiskStationResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DownloadStation2TaskInfoResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/FileStationListFileInfoResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/FileStationListResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/SerialNumberProvider.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/SharedFolderMapping.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/SharedFolderResolver.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/UsenetDownloadStation.cs
Labels: Area: Download Clients

Fixed: Compatibility with the new Download Station API
  src/NzbDrone.Core/Download/Clients/DownloadStation/DiskStationApi.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DiskStationApiInfo.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DownloadStation2Task.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DownloadStationTask.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DownloadStationTaskAdditional.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DownloadStationTaskFile.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DSMInfoProxy.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DiskStationProxyBase.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationInfoProxy.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxySelector.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxyV1.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxyV2.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/FileStationProxy.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DSMInfoResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DiskStationAuthResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DiskStationError.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DiskStationInfoResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DiskStationResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DownloadStation2TaskInfoResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/FileStationListFileInfoResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/FileStationListResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/SerialNumberProvider.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/SharedFolderMapping.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/SharedFolderResolver.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/UsenetDownloadStation.cs
Labels: Area: Download Clients

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none
