Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock

Allow templating in JSON rows selector in Cardigann
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannBase.cs
Labels: Area: Indexer

Fixed: (History) Reduce History Cleanup Days to 30
  src/NzbDrone.Core.Test/Configuration/ConfigServiceFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
Labels: none

Add package to Sentry release to ensure apps don't mix
  azure-pipelines.yml
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
Labels: none

Add `Find()` to BasicRepository
  src/NzbDrone.Core/Datastore/BasicRepository.cs
  src/NzbDrone.Core/ThingiProvider/IProviderFactory.cs
  src/NzbDrone.Core/ThingiProvider/ProviderFactory.cs
Labels: none

Add `Find()` to BasicRepository
  src/NzbDrone.Core/Datastore/BasicRepository.cs
  src/NzbDrone.Core/ThingiProvider/IProviderFactory.cs
  src/NzbDrone.Core/ThingiProvider/ProviderFactory.cs
Labels: none

Align ProwlarrErrorPipeline with upstream
  src/Prowlarr.Http/ErrorManagement/ProwlarrErrorPipeline.cs
Labels: none

Fixed: (UI) Change default search results sorting to age
  frontend/src/Search/SearchIndex.js
  frontend/src/Store/Actions/releaseActions.js
Labels: Area: UI

Fixed: (UI) Change default search results sorting to age
  frontend/src/Search/SearchIndex.js
  frontend/src/Store/Actions/releaseActions.js
Labels: Area: UI

Fixed: (TorrentPotato) Allow use of custom APIs
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotato.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotatoParser.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotatoRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotatoResponse.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotatoSettings.cs
Labels: Area: Indexer

Ensure mousetrap instance exists in unbindShortcut
  frontend/src/Components/keyboardShortcuts.js
Labels: Area: UI

Fixed: (TorrentPotato) Allow use of custom APIs
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotato.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotatoParser.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotatoRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotatoResponse.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotatoSettings.cs
Labels: Area: Indexer

Fixed: (UI) Prevent search results clearing when using header search with enter key
  frontend/src/Search/SearchFooter.js
Labels: Area: UI

Remove unused prop in Stats
  frontend/src/Indexer/Stats/Stats.js
Labels: Area: UI

New: Add download client per indexer setting
  frontend/src/Components/Form/DownloadClientSelectInputConnector.js
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Helpers/Props/inputTypes.js
  frontend/src/Indexer/Edit/EditIndexerModalContent.js
  src/NzbDrone.Core/Datastore/Migration/035_download_client_per_indexer.cs
  src/NzbDrone.Core/Download/DownloadClientProvider.cs
  src/NzbDrone.Core/Download/DownloadService.cs
  src/NzbDrone.Core/Indexers/IndexerDefinition.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Prowlarr.Api.V1/Indexers/IndexerResource.cs
  src/Prowlarr.Api.V1/Search/SearchController.cs
Labels: Area: API, Area: Db-migration, Area: Indexer, Area: UI

Show download client field only when download clients are set
  frontend/src/Indexer/Edit/EditIndexerModalContent.js
  frontend/src/Indexer/Edit/EditIndexerModalContentConnector.js
Labels: Area: UI

Show download client field only when download clients are set
  frontend/src/Indexer/Edit/EditIndexerModalContent.js
  frontend/src/Indexer/Edit/EditIndexerModalContentConnector.js
Labels: Area: UI

New: Add download client per indexer setting
  frontend/src/Components/Form/DownloadClientSelectInputConnector.js
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Helpers/Props/inputTypes.js
  frontend/src/Indexer/Edit/EditIndexerModalContent.js
  src/NzbDrone.Core/Datastore/Migration/035_download_client_per_indexer.cs
  src/NzbDrone.Core/Download/DownloadClientProvider.cs
  src/NzbDrone.Core/Download/DownloadService.cs
  src/NzbDrone.Core/Indexers/IndexerDefinition.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Prowlarr.Api.V1/Indexers/IndexerResource.cs
  src/Prowlarr.Api.V1/Search/SearchController.cs
Labels: Area: API, Area: Db-migration, Area: Indexer, Area: UI

Automated API Docs update [skip ci]
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update [skip ci]
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update [skip ci]
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

New: Use major version for installed version on Windows
  distribution/windows/setup/prowlarr.iss
Labels: none

Minor refactoring in TorrentsCSV
  src/NzbDrone.Core/Indexers/Definitions/TorrentsCSV.cs
Labels: Area: Indexer

Fixed: (History) Save limit and offset in history data
  frontend/src/History/Details/HistoryDetails.js
  frontend/src/History/HistoryRow.js
  frontend/src/History/HistoryRowConnector.js
  frontend/src/Search/SearchFooter.js
  frontend/src/Search/SearchFooterConnector.js
  frontend/src/Store/Actions/releaseActions.js
  src/NzbDrone.Core/History/HistoryService.cs
Labels: Area: UI

Fix repeat search when limits are empty
  frontend/src/History/HistoryRowConnector.js
Labels: Area: UI

New: (UI) Show advanced settings toggle in application modal content
  frontend/src/Settings/AdvancedSettingsButton.js
  frontend/src/Settings/Applications/Applications/EditApplicationModalContent.js
  frontend/src/Settings/Applications/Applications/EditApplicationModalContentConnector.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fix recursive call in `translate()`
  frontend/src/Utilities/String/translate.js
Labels: Area: UI

Improve indexer multiple select functionality
  frontend/src/Helpers/Hooks/usePrevious.tsx
  frontend/src/Indexer/Index/IndexerIndex.tsx
  frontend/src/Indexer/Index/Select/Delete/DeleteIndexerModalContent.tsx
  frontend/src/Indexer/Index/Select/Edit/EditIndexerModalContent.tsx
  frontend/src/Indexer/Index/Select/IndexerIndexSelectFooter.tsx
  frontend/src/Indexer/Index/Select/Tags/TagsModalContent.tsx
  frontend/src/Store/Actions/indexerActions.js
  frontend/src/Store/Selectors/createIndexerClientSideCollectionItemsSelector.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Check indexer health checks on bulk updates
  src/NzbDrone.Core/HealthCheck/Checks/ApplicationLongTermStatusCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerLongTermStatusCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerStatusCheck.cs
  src/NzbDrone.Core/HealthCheck/Checks/NoDefinitionCheck.cs
Labels: none

Fixed: (UI) Regain `jump to character` functionality for search releases
  frontend/src/Components/Table/VirtualTable.js
  frontend/src/Indexer/Index/IndexerIndex.tsx
  frontend/src/Indexer/Index/Table/IndexerIndexTable.tsx
  frontend/src/Search/SearchIndex.js
  frontend/src/Store/Selectors/createIndexerClientSideCollectionItemsSelector.js
  frontend/src/Store/Selectors/createReleaseClientSideCollectionItemsSelector.js
  frontend/src/Utilities/Array/getIndexOfFirstCharacter.js
  package.json
  yarn.lock
Labels: Area: UI

Add translations to SearchFooter
  frontend/src/Search/SearchFooter.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: (UI) Add priority to Indexer Editor
  frontend/src/Components/Form/AppProfileSelectInputConnector.js
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Indexer/Index/Select/Edit/EditIndexerModalContent.tsx
  src/Prowlarr.Api.V1/Indexers/IndexerEditorController.cs
  src/Prowlarr.Api.V1/Indexers/IndexerEditorResource.cs
Labels: Area: API, Area: UI

Automated API Docs update [skip ci]
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update [skip ci]
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

New: Add support for search through url query params
  frontend/src/Search/SearchFooterConnector.js
Labels: Area: UI

New: Add support for search through url query params
  frontend/src/Search/SearchFooterConnector.js
Labels: Area: UI

Bump version to 1.7.2
  azure-pipelines.yml
Labels: none

Automated API Docs update [skip ci]
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update [skip ci]
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Fixed: (BTN) Prevent NullRef when Result.Torrents is null
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNet.cs
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNetParser.cs
Labels: Area: Indexer

Fixed: (UI) Prevent passing NaN values to search API when using invalid ids
  frontend/src/Search/SearchFooterConnector.js
Labels: Area: UI
