Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

New: Add TorrentNetwork
  src/NzbDrone.Core/Indexers/Definitions/Torznab/Torznab.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
Labels: Area: Indexer

Paging params in API docs
  src/NzbDrone.Host/Startup.cs
  src/NzbDrone.Integration.Test/Client/ClientBase.cs
  src/Prowlarr.Api.V1/History/HistoryController.cs
  src/Prowlarr.Api.V1/Logs/LogController.cs
  src/Prowlarr.Http/Extensions/RequestExtensions.cs
  src/Prowlarr.Http/PagingResource.cs
  src/Prowlarr.Http/PagingResourceFilter.cs
Labels: Area: API

New: Additional tooltips for icon buttons
  frontend/src/Components/Modal/ModalContent.js
  frontend/src/Components/Page/Header/PageHeader.js
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.js
Labels: Area: UI

Sync label styling for FormLabel
  frontend/src/Components/Form/FormLabel.css
Labels: Area: UI

Log executing health check
  src/NzbDrone.Core/HealthCheck/HealthCheckService.cs
Labels: none

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Duplicate notifications for failed health checks
  src/NzbDrone.Common/TPL/DebounceManager.cs
  src/NzbDrone.Common/TPL/Debouncer.cs
  src/NzbDrone.Core.Test/HealthCheck/HealthCheckServiceFixture.cs
  src/NzbDrone.Core/HealthCheck/HealthCheckService.cs
  src/NzbDrone.Core/HealthCheck/ServerSideNotificationService.cs
  src/NzbDrone.Test.Common/MockDebouncer.cs
Labels: none

Fixed: Ignore case when cleansing announce URLs
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: none

Fixed: Prevent NullRef in NewznabRequestGenerator for missing definition
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/Newznab.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/Torznab/Torznab.cs
Labels: Area: Indexer

Update DICMusic.cs
  src/NzbDrone.Core/Indexers/Definitions/DICMusic.cs
Labels: Area: Indexer

Fixed: New Indexer URL for DICMusic
  src/NzbDrone.Core/Indexers/Definitions/DICMusic.cs
Labels: Area: Indexer

New: Show indexer categories in Add Indexer modal
  frontend/src/Indexer/Add/AddIndexerModal.js
  frontend/src/Indexer/Add/AddIndexerModalContent.js
  frontend/src/Indexer/Add/AddIndexerModalContentConnector.js
  frontend/src/Indexer/Add/SelectIndexerRow.js
  frontend/src/Indexer/Add/SelectIndexerRow.tsx
  frontend/src/Indexer/Add/SelectIndexerRowConnector.js
  frontend/src/Indexer/Index/Table/CapabilitiesLabel.tsx
  frontend/src/Search/Table/CategoryLabel.js
  frontend/src/Search/Table/CategoryLabel.tsx
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
Labels: none

New: (Nebulance) Parse TvMazeId and scene attributes
  src/NzbDrone.Core/Indexers/Definitions/Nebulance.cs
Labels: Area: Indexer

Prevent NullRef in Nebulance with null TvMazeIds
  src/NzbDrone.Core/Indexers/Definitions/Nebulance.cs
Labels: Area: Indexer

Add year to releases for AnimeBytes
  src/NzbDrone.Core/Indexers/Definitions/AnimeBytes.cs
Labels: Area: Indexer

Update postcss, webpack and core-js
  package.json
  yarn.lock
Labels: Area: UI

Revert dependencies update
  yarn.lock
Labels: Area: UI

Fixed: Remove Defunct Tracker PirateTheNet
  src/NzbDrone.Core/Indexers/Definitions/PirateTheNet.cs
Labels: Area: Indexer

Fixed: (FileList) Use air date in search query
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListRequestGenerator.cs
Labels: Area: Indexer

Fixed: Remove Defunct Tracker PirateTheNet
  src/NzbDrone.Core/Indexers/Definitions/PirateTheNet.cs
Labels: Area: Indexer

Fixed: Remove Defunct Tracker PirateTheNet
  src/NzbDrone.Core/Indexers/Definitions/PirateTheNet.cs
Labels: Area: Indexer

Bump version to 1.10.0
  azure-pipelines.yml
Labels: none

add Peers to ReleaseResource
  src/Prowlarr.Api.V1/Search/ReleaseResource.cs
Labels: Area: API

fix per suggestion
  frontend/src/Store/Actions/releaseActions.js
  src/Prowlarr.Api.V1/Search/ReleaseResource.cs
Labels: Area: API, Area: UI

Update frontend/src/Store/Actions/releaseActions.js
  frontend/src/Store/Actions/releaseActions.js
Labels: Area: UI

Fixed: Calculating value for peers filter (#1900)
  frontend/src/Store/Actions/releaseActions.js
Labels: Area: UI

Add acronym for PrivateHD
  src/NzbDrone.Core/Indexers/Definitions/PrivateHD.cs
Labels: Area: Indexer

Return TV category if season/episode detected in title for PTP
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcorn.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornParser.cs
Labels: Area: Indexer

Fixed: (FileList) Skip ID searches for daily episodes
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListRequestGenerator.cs
Labels: Area: Indexer

Bump version to 1.10.1
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Updated link to Docker install instructions
  README.md
Labels: none

Update link to Docker instructions in readme (#1905)
  README.md
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Detect Raw search in Generic Torznab/Newznab feeds
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabCapabilitiesProvider.cs
Labels: Area: Indexer

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock
