Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Link indexer proxy settings from health page
  frontend/src/System/Status/Health/Health.js
Labels: Area: UI

New: Migrate M-Team - TP to API
  src/NzbDrone.Core/IndexerVersions/IndexerDefinitionUpdateService.cs
  src/NzbDrone.Core/Indexers/Definitions/MTeamTp.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Indexer

New: Migrate M-Team - TP to API
  src/NzbDrone.Core/IndexerVersions/IndexerDefinitionUpdateService.cs
  src/NzbDrone.Core/Indexers/Definitions/MTeamTp.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Indexer

New: Advanced settings toggle in indexer, notification and download client modals
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.js
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContentConnector.js
  frontend/src/Settings/Indexers/IndexerProxies/EditIndexerProxyModalContent.js
  frontend/src/Settings/Indexers/IndexerProxies/EditIndexerProxyModalContentConnector.js
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.js
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContentConnector.js
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

New: Allow HEAD requests to ping endpoint
  src/Prowlarr.Http/Ping/PingController.cs
Labels: none

Fixed: Http Client getting network interfaces on aarch64
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
  src/NzbDrone.Core.Test/Framework/CoreTest.cs
Labels: none

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Bump version to 1.16.0
  azure-pipelines.yml
Labels: none

Fixed: Properly display capabilities for Newznab and Torznab feeds
  src/NzbDrone.Core/Indexers/Definitions/Newznab/Newznab.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabCapabilitiesProvider.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabCapabilitiesSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/Torznab/Torznab.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
Labels: none

Update en.json
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Improve capabilities fetching for applications sync
  src/NzbDrone.Core/Applications/LazyLibrarian/LazyLibrarian.cs
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Mylar/Mylar.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Fixed: Migrate categories to capabilities in Newznab/Torznab settings
  src/NzbDrone.Core.Test/Datastore/Migration/040_newznab_category_to_capabilities_settingsFixture.cs
  src/NzbDrone.Core/Datastore/Migration/040_newznab_category_to_capabilities_settings.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/Newznab.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabCapabilitiesSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/Torznab/Torznab.cs
Labels: Area: Db-migration, Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/th.json
Labels: none

Fixed: (Gazelle) Ignore ineligible releases with Use Freeleech Token
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleParser.cs
  src/NzbDrone.Core/Indexers/Definitions/GreatPosterWall.cs
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
  src/NzbDrone.Core/Indexers/Definitions/SecretCinema.cs
Labels: Area: Indexer

Update Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
Labels: Area: Notifications

Fixed: drop beta (Preview) from login description
  frontend/src/login.html
Labels: Area: UI

New: Retry on failed indexer requests
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
  src/NzbDrone.Core/Prowlarr.Core.csproj
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Bump dotnet to 6.0.29
  azure-pipelines.yml
  src/NzbDrone.Core.Test/Prowlarr.Core.Test.csproj
  src/NzbDrone.Core/Prowlarr.Core.csproj
  src/NzbDrone.Integration.Test/Prowlarr.Integration.Test.csproj
Labels: none

Freeleech Wedge wording fix
  src/NzbDrone.Core/Indexers/Definitions/MyAnonamouse.cs
Labels: Area: Indexer

Fixed: Re-testing edited providers will forcibly test them
  frontend/src/Store/Actions/Creators/createTestProviderHandler.js
  src/Prowlarr.Api.V1/ProviderControllerBase.cs
Labels: Area: API, Area: UI

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Change snatched to grabbed
  src/NzbDrone.Core/Indexers/Definitions/MyAnonamouse.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Handle download redirects to magnet links
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
Labels: Area: Indexer

feat(ci): add merge conflict labeler workflow
  .github/workflows/conflict_labeler.yml
Labels: none

(ci): update action version
  .github/workflows/labeler.yml
  .github/workflows/lock.yml
Labels: none
