Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

Improve HDBits Settings Helptext
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsSettings.cs
Labels: Area: Indexer

fixup!
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsSettings.cs
Labels: Area: Indexer

fixup!
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Update src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Improve HDBits Settings Helptext
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Bump version to 1.14.0
  azure-pipelines.yml
Labels: none

Translations for download client settings
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Settings.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackholeSettings.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/UsenetBlackholeSettings.cs
  src/NzbDrone.Core/Download/Clients/Deluge/DelugeSettings.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DownloadStationSettings.cs
  src/NzbDrone.Core/Download/Clients/Flood/FloodSettings.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/FreeboxDownloadSettings.cs
  src/NzbDrone.Core/Download/Clients/Hadouken/HadoukenSettings.cs
  src/NzbDrone.Core/Download/Clients/NzbVortex/NzbVortexSettings.cs
  src/NzbDrone.Core/Download/Clients/Nzbget/NzbgetSettings.cs
  src/NzbDrone.Core/Download/Clients/Pneumatic/PneumaticSettings.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentSettings.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/SabnzbdSettings.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrentSettings.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrentSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Download Clients

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Bump label-actions action to v4
  .github/workflows/label-actions.yml
Labels: none

Fixed: Updated base url for TorrentsCSV
  src/NzbDrone.Core/Indexers/Definitions/TorrentsCSV.cs
Labels: Area: Indexer

Show download client ID as hint in select options
  frontend/src/Components/Form/DownloadClientSelectInputConnector.js
Labels: Area: UI

Fixed: Using FlareSolverr in the same time with another HTTP/SOCKS proxy
  src/NzbDrone.Core/Indexers/IndexerHttpClient.cs
Labels: Area: Indexer

Fixed: Using FlareSolverr in the same time with another HTTP/SOCKS proxy
  src/NzbDrone.Core/Indexers/IndexerHttpClient.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Fixed: (AvistaZ) Avoid parsing invalid JSON on auth
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazBase.cs
Labels: Area: Indexer

Fixed: (Shazbat) Report Season & Ep Capabilities
  src/NzbDrone.Core/Indexers/Definitions/Shazbat.cs
Labels: Area: Indexer

Bump version to 1.14.1
  azure-pipelines.yml
Labels: none

Fixed: (Shazbat) Added season and episode to search capabilities
  src/NzbDrone.Core/Indexers/Definitions/Shazbat.cs
Labels: Area: Indexer

Fixed: (GGn) Don't die on invalid FreeTorrent values in the API
  src/NzbDrone.Core/Indexers/Definitions/GazelleGames.cs
Labels: Area: Indexer

New: (Cardigann) Add multi-select type for settings
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannBase.cs
  src/Prowlarr.Api.V1/Indexers/IndexerResource.cs
Labels: Area: API, Area: Indexer

New: Sync Reject Blocklisted Torrent Hashes While Grabbing for torrent indexers to Apps
  frontend/src/Indexer/Edit/EditIndexerModalContent.js
  frontend/src/Indexer/Index/Select/Edit/EditIndexerModalContent.tsx
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrIndexer.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrIndexer.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrIndexer.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrIndexer.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrIndexer.cs
  src/NzbDrone.Core/Indexers/IndexerTorrentBaseSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Prowlarr.Api.V1/Indexers/IndexerBulkResource.cs
Labels: Area: API, Area: Indexer, Area: UI

New: Sync Reject Blocklisted Torrent Hashes While Grabbing for torrent indexers to Apps
  frontend/src/Indexer/Edit/EditIndexerModalContent.js
  frontend/src/Indexer/Index/Select/Edit/EditIndexerModalContent.tsx
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrIndexer.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrIndexer.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrIndexer.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrIndexer.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrIndexer.cs
  src/NzbDrone.Core/Indexers/IndexerTorrentBaseSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Prowlarr.Api.V1/Indexers/IndexerBulkResource.cs
Labels: Area: API, Area: Indexer, Area: UI

Cleanup obsolete definitions for ANT/ABB/BB/MTV/PTN/TVV
  src/NzbDrone.Core/Indexers/Definitions/Anthelion.cs
  src/NzbDrone.Core/Indexers/Definitions/AudioBookBay.cs
  src/NzbDrone.Core/Indexers/Definitions/BB.cs
  src/NzbDrone.Core/Indexers/Definitions/MoreThanTV.cs
  src/NzbDrone.Core/Indexers/Definitions/PirateTheNet.cs
  src/NzbDrone.Core/Indexers/Definitions/TVVault.cs
Labels: Area: Indexer

New: Sync Pack Seed Time to Whisparr applications
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrIndexer.cs
Labels: none

Fixed: Selection of last added custom filter
  frontend/src/Components/Filter/Builder/FilterBuilderModalContent.js
  frontend/src/Components/Filter/CustomFilters/CustomFilter.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Bump node to v20.x on builder
  azure-pipelines.yml
Labels: none

Fixed: Cleanse Discord Webhook URLs
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: none

Bump to net8.0
  azure-pipelines.yml
  build.sh
  docs.sh
  package.json
  src/Directory.Build.props
  src/NzbDrone.Automation.Test/Prowlarr.Automation.Test.csproj
  src/NzbDrone.Common.Test/Prowlarr.Common.Test.csproj
  src/NzbDrone.Common/Disk/DestinationAlreadyExistsException.cs
  src/NzbDrone.Common/Prowlarr.Common.csproj
  src/NzbDrone.Console/Prowlarr.Console.csproj
  src/NzbDrone.Core.Test/Prowlarr.Core.Test.csproj
  src/NzbDrone.Core/Prowlarr.Core.csproj
  src/NzbDrone.Host.Test/Prowlarr.Host.Test.csproj
  src/NzbDrone.Host/Prowlarr.Host.csproj
  src/NzbDrone.Integration.Test/Prowlarr.Integration.Test.csproj
  src/NzbDrone.Libraries.Test/Prowlarr.Libraries.Test.csproj
  src/NzbDrone.Mono.Test/Prowlarr.Mono.Test.csproj
  src/NzbDrone.Mono/Prowlarr.Mono.csproj
  src/NzbDrone.SignalR/Prowlarr.SignalR.csproj
  src/NzbDrone.Test.Common/NzbDroneRunner.cs
  src/NzbDrone.Test.Common/Prowlarr.Test.Common.csproj
  src/NzbDrone.Test.Dummy/Prowlarr.Test.Dummy.csproj
  src/NzbDrone.Update.Test/Prowlarr.Update.Test.csproj
  src/NzbDrone.Update/Prowlarr.Update.csproj
  src/NzbDrone.Windows.Test/Prowlarr.Windows.Test.csproj
  src/NzbDrone.Windows/Prowlarr.Windows.csproj
  src/NzbDrone/Prowlarr.csproj
  src/Prowlarr.Api.V1.Test/Prowlarr.Api.V1.Test.csproj
  src/Prowlarr.Api.V1/Indexers/NewznabController.cs
  src/Prowlarr.Api.V1/Prowlarr.Api.V1.csproj
  src/Prowlarr.Benchmark.Test/Prowlarr.Benchmark.Test.csproj
  src/Prowlarr.Http/Authentication/ApiKeyAuthenticationHandler.cs
  src/Prowlarr.Http/Authentication/BasicAuthenticationHandler.cs
  src/Prowlarr.Http/Authentication/NoAuthenticationHandler.cs
  src/Prowlarr.Http/Middleware/VersionMiddleware.cs
  src/Prowlarr.Http/Prowlarr.Http.csproj
  src/Prowlarr.Http/REST/RestController.cs
  src/ServiceHelpers/ServiceInstall/ServiceInstall.csproj
  src/ServiceHelpers/ServiceUninstall/ServiceUninstall.csproj
  yarn.lock
Labels: Area: API, Area: UI

Update caniuse-lite
  yarn.lock
Labels: Area: UI

Fixed: (AnimeBytes) Artist and album search improvements
  src/NzbDrone.Core/Indexers/Definitions/AnimeBytes.cs
Labels: Area: Indexer

Fixed: (AnimeBytes) Artist and album search improvements
  src/NzbDrone.Core/Indexers/Definitions/AnimeBytes.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock
