Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock

Translate Frontend Store
  frontend/src/Store/Actions/Settings/appProfiles.js
  frontend/src/Store/Actions/indexerActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Bump version to 1.8.6
  azure-pipelines.yml
Labels: none

Move scene flag to TorrentInfo and return tag in response
  src/NzbDrone.Core.Test/IndexerTests/OrpheusTests/OrpheusFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/RedactedTests/RedactedFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/SecretCinemaTests/SecretCinemaFixture.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleInfo.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleParser.cs
  src/NzbDrone.Core/Indexers/Definitions/GreatPosterWall.cs
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
  src/NzbDrone.Core/Indexers/Definitions/SecretCinema.cs
  src/NzbDrone.Core/Indexers/Definitions/Shazbat.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Parser/Model/TorrentInfo.cs
Labels: Area: Indexer

Bump dotnet to 6.0.21
  azure-pipelines.yml
  package.json
  src/NzbDrone.Common/Prowlarr.Common.csproj
  src/NzbDrone.Core.Test/Prowlarr.Core.Test.csproj
  src/NzbDrone.Core/Prowlarr.Core.csproj
  src/NzbDrone.Host/Prowlarr.Host.csproj
  src/NzbDrone.Integration.Test/Prowlarr.Integration.Test.csproj
  src/NzbDrone.Update/Prowlarr.Update.csproj
  yarn.lock
Labels: Area: UI

Move scene flag to TorrentInfo and return tag in response
  src/NzbDrone.Core.Test/IndexerTests/OrpheusTests/OrpheusFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/RedactedTests/RedactedFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/SecretCinemaTests/SecretCinemaFixture.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleInfo.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleParser.cs
  src/NzbDrone.Core/Indexers/Definitions/GreatPosterWall.cs
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
  src/NzbDrone.Core/Indexers/Definitions/SecretCinema.cs
  src/NzbDrone.Core/Indexers/Definitions/Shazbat.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Parser/Model/TorrentInfo.cs
Labels: Area: Indexer

New: (UI) Add clone indexer in info modal
  frontend/src/Indexer/Index/IndexerIndex.tsx
  frontend/src/Indexer/Index/Table/IndexerIndexRow.tsx
  frontend/src/Indexer/Index/Table/IndexerIndexTable.tsx
  frontend/src/Indexer/IndexerTitleLink.tsx
  frontend/src/Indexer/Info/IndexerInfoModal.tsx
  frontend/src/Indexer/Info/IndexerInfoModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Custom Filters for Stats
  frontend/src/App/State/IndexerStatsAppState.ts
  frontend/src/Indexer/Stats/IndexerStats.css
  frontend/src/Indexer/Stats/IndexerStats.css.d.ts
  frontend/src/Indexer/Stats/IndexerStats.tsx
  frontend/src/Indexer/Stats/IndexerStatsFilterMenu.tsx
  frontend/src/Indexer/Stats/IndexerStatsFilterModal.tsx
  frontend/src/Store/Actions/indexerStatsActions.js
  frontend/src/Styles/Themes/dark.js
  frontend/src/Styles/Themes/light.js
  src/NzbDrone.Core.Test/IndexerStatsTests/IndexerStatisticsServiceFixture.cs
  src/NzbDrone.Core/IndexerStats/IndexerStatisticsService.cs
  src/Prowlarr.Api.V1/Indexers/IndexerStatsController.cs
Labels: Area: API, Area: UI

Chart style updates
  frontend/src/Components/Chart/BarChart.js
  frontend/src/Components/Chart/DoughnutChart.js
  frontend/src/Components/Chart/StackedBarChart.js
  frontend/src/Indexer/Stats/IndexerStats.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Indexer history in indexer info modal
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/HistoryAppState.ts
  frontend/src/App/State/IndexerAppState.ts
  frontend/src/Components/Table/Cells/RelativeDateCell.js
  frontend/src/Components/Table/Cells/RelativeDateCellConnector.js
  frontend/src/History/Details/HistoryDetailsModal.css
  frontend/src/History/Details/HistoryDetailsModal.js
  frontend/src/History/HistoryRow.js
  frontend/src/Indexer/Index/Table/IndexerIndexRow.tsx
  frontend/src/Indexer/Info/History/IndexerHistory.tsx
  frontend/src/Indexer/Info/History/IndexerHistoryRow.css
  frontend/src/Indexer/Info/History/IndexerHistoryRow.css.d.ts
  frontend/src/Indexer/Info/History/IndexerHistoryRow.tsx
  frontend/src/Indexer/Info/IndexerInfoModal.tsx
  frontend/src/Indexer/Info/IndexerInfoModalContent.css
  frontend/src/Indexer/Info/IndexerInfoModalContent.css.d.ts
  frontend/src/Indexer/Info/IndexerInfoModalContent.tsx
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/indexerHistoryActions.js
  frontend/src/System/Backup/BackupRow.js
  frontend/src/System/Events/LogsTableRow.js
  frontend/src/System/Logs/Files/LogFilesTableRow.js
  frontend/src/typings/History.ts
  package.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/Prowlarr.Api.V1/History/HistoryController.cs
  yarn.lock
Labels: Area: API, Area: UI

New: Summary Stats
  frontend/src/Components/Table/Cells/RelativeDateCellConnector.js
  frontend/src/Indexer/Stats/IndexerStats.css
  frontend/src/Indexer/Stats/IndexerStats.css.d.ts
  frontend/src/Indexer/Stats/IndexerStats.tsx
  frontend/src/Utilities/Number/abbreviateNumber.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Chart style updates
  frontend/src/Components/Chart/BarChart.js
  frontend/src/Components/Chart/DoughnutChart.js
  frontend/src/Components/Chart/StackedBarChart.js
  frontend/src/Indexer/Stats/IndexerStats.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Indexer history in indexer info modal
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/HistoryAppState.ts
  frontend/src/App/State/IndexerAppState.ts
  frontend/src/Components/Table/Cells/RelativeDateCell.js
  frontend/src/Components/Table/Cells/RelativeDateCellConnector.js
  frontend/src/History/Details/HistoryDetailsModal.css
  frontend/src/History/Details/HistoryDetailsModal.js
  frontend/src/History/HistoryRow.js
  frontend/src/Indexer/Index/Table/IndexerIndexRow.tsx
  frontend/src/Indexer/Info/History/IndexerHistory.tsx
  frontend/src/Indexer/Info/History/IndexerHistoryRow.css
  frontend/src/Indexer/Info/History/IndexerHistoryRow.css.d.ts
  frontend/src/Indexer/Info/History/IndexerHistoryRow.tsx
  frontend/src/Indexer/Info/IndexerInfoModal.tsx
  frontend/src/Indexer/Info/IndexerInfoModalContent.css
  frontend/src/Indexer/Info/IndexerInfoModalContent.css.d.ts
  frontend/src/Indexer/Info/IndexerInfoModalContent.tsx
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/indexerHistoryActions.js
  frontend/src/System/Backup/BackupRow.js
  frontend/src/System/Events/LogsTableRow.js
  frontend/src/System/Logs/Files/LogFilesTableRow.js
  frontend/src/typings/History.ts
  package.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/Prowlarr.Api.V1/History/HistoryController.cs
  yarn.lock
Labels: Area: API, Area: UI

New: Custom Filters for Stats
  frontend/src/App/State/IndexerStatsAppState.ts
  frontend/src/Indexer/Stats/IndexerStats.css
  frontend/src/Indexer/Stats/IndexerStats.css.d.ts
  frontend/src/Indexer/Stats/IndexerStats.tsx
  frontend/src/Indexer/Stats/IndexerStatsFilterMenu.tsx
  frontend/src/Indexer/Stats/IndexerStatsFilterModal.tsx
  frontend/src/Store/Actions/indexerStatsActions.js
  frontend/src/Styles/Themes/dark.js
  frontend/src/Styles/Themes/light.js
  src/NzbDrone.Core.Test/IndexerStatsTests/IndexerStatisticsServiceFixture.cs
  src/NzbDrone.Core/IndexerStats/IndexerStatisticsService.cs
  src/Prowlarr.Api.V1/Indexers/IndexerStatsController.cs
Labels: Area: API, Area: UI

New: Summary Stats
  frontend/src/Components/Table/Cells/RelativeDateCellConnector.js
  frontend/src/Indexer/Stats/IndexerStats.css
  frontend/src/Indexer/Stats/IndexerStats.css.d.ts
  frontend/src/Indexer/Stats/IndexerStats.tsx
  frontend/src/Utilities/Number/abbreviateNumber.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Migrate to merged proposals now included in babel/present-env
  frontend/babel.config.js
  package.json
  yarn.lock
Labels: Area: UI

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Use method group in History controller
  src/Prowlarr.Api.V1/History/HistoryController.cs
  src/Prowlarr.Api.V1/History/HistoryResource.cs
Labels: Area: API

Show all queries in Total Queries block
  frontend/src/Indexer/Stats/IndexerStats.tsx
Labels: Area: UI

Add history parameters to indexer history
  frontend/src/History/HistoryRow.js
  frontend/src/Indexer/Info/History/IndexerHistory.tsx
  frontend/src/Indexer/Info/History/IndexerHistoryRow.css
  frontend/src/Indexer/Info/History/IndexerHistoryRow.css.d.ts
  frontend/src/Indexer/Info/History/IndexerHistoryRow.tsx
Labels: Area: UI

New: Save categories to history for grabs
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

Add external links for indexer history
  frontend/src/App/State/HistoryAppState.ts
  frontend/src/History/HistoryRowParameter.js
  frontend/src/History/HistoryRowParameter.tsx
  frontend/src/Indexer/Info/History/IndexerHistoryRow.tsx
Labels: Area: UI

New: Add support for MaxAge to Newznab API
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
  src/NzbDrone.Core/IndexerSearch/NewznabRequest.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabRequestGenerator.cs
Labels: Area: Indexer

New: Add support for MaxAge to Newznab API
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
  src/NzbDrone.Core/IndexerSearch/NewznabRequest.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabRequestGenerator.cs
Labels: Area: Indexer

Fixed: (Nebulance) Add fallback TV search without season/episode
  src/NzbDrone.Core/Indexers/Definitions/Nebulance.cs
Labels: Area: Indexer

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Move clone button to the left
  frontend/src/Indexer/Info/IndexerInfoModalContent.css
  frontend/src/Indexer/Info/IndexerInfoModalContent.css.d.ts
  frontend/src/Indexer/Info/IndexerInfoModalContent.tsx
Labels: Area: UI

Add hourly limits as defaults for FL and BTN
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListSettings.cs
Labels: Area: Indexer

New: Add hour as interval unit for indexer limits
  src/NzbDrone.Core/Indexers/IndexerBaseSettings.cs
  src/NzbDrone.Core/Indexers/IndexerLimitService.cs
  src/Prowlarr.Api.V1/Indexers/NewznabController.cs
Labels: Area: API, Area: Indexer

New: Add hour as interval unit for indexer limits
  src/NzbDrone.Core/Indexers/IndexerBaseSettings.cs
  src/NzbDrone.Core/Indexers/IndexerLimitService.cs
  src/Prowlarr.Api.V1/Indexers/NewznabController.cs
Labels: Area: API, Area: Indexer

Add hourly limits as defaults for FL and BTN
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListSettings.cs
Labels: Area: Indexer

Fixed: macOS version detection
  src/NzbDrone.Mono.Test/EnvironmentInfo/VersionAdapters/MacOsVersionAdapterFixture.cs
  src/NzbDrone.Mono/EnvironmentInfo/VersionAdapters/MacOsVersionAdapter.cs
Labels: none

Fix indexer flags column label
  frontend/src/Components/Table/TableOptions/TableOptionsModal.js
  frontend/src/Store/Actions/releaseActions.js
Labels: Area: UI

Add volume factors in UI
  frontend/src/Helpers/Props/icons.js
  frontend/src/Search/Table/DownloadVolumeFactorLabel.tsx
  frontend/src/Search/Table/SearchIndexRow.js
  frontend/src/Search/Table/UploadVolumeFactorLabel.tsx
  src/NzbDrone.Core/Localization/Core/en.json
  src/Prowlarr.Api.V1/Search/ReleaseResource.cs
Labels: Area: API, Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ro.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Update magnet trackers
  src/NzbDrone.Core/Indexers/MagnetLinkBuilder.cs
Labels: Area: Indexer
