Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock

Fixed: (API) Prevent search failed exception when using non-interactive search
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Show the correct total of releases when selecting
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: (UI) Show available indexers count in Add Indexer
  frontend/src/Indexer/Add/AddIndexerModalContent.css
  frontend/src/Indexer/Add/AddIndexerModalContent.css.d.ts
  frontend/src/Indexer/Add/AddIndexerModalContent.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fixed: (Apps) Lower the severity for common messages
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrV3Proxy.cs
Labels: none

Fixed: (Apps) Lower the severity for common messages
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrV3Proxy.cs
Labels: none

Update webpack, eslint and core-js
  package.json
  yarn.lock
Labels: Area: UI

Fixed: (AvistaZ) Allow search by episode
  src/NzbDrone.Core/Indexers/Definitions/AvistaZ.cs
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazRequestGenerator.cs
Labels: Area: Indexer

Update webpack, eslint and core-js
  package.json
  yarn.lock
Labels: Area: UI

Translate url type for indexer description
  frontend/src/Indexer/Info/IndexerInfoModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fix selection input in QueryParameterModal
  frontend/src/Search/QueryParameterModal.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Use named keys for apply tags help text
  frontend/src/Indexer/Index/Select/Tags/TagsModalContent.tsx
  frontend/src/Settings/Applications/Applications/Manage/Tags/TagsModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fixed: Ensure translations are fetched before loading app
  frontend/build/webpack.config.js
  frontend/src/App/App.js
  frontend/src/Components/Page/ErrorPage.js
  frontend/src/Components/Page/PageConnector.js
  frontend/src/Utilities/String/translate.js
  frontend/src/index.js
Labels: Area: UI

Revert "Fixed: Ensure translations are fetched before loading app"
  frontend/build/webpack.config.js
  frontend/src/App/App.js
  frontend/src/Components/Page/ErrorPage.js
  frontend/src/Components/Page/PageConnector.js
  frontend/src/Utilities/String/translate.js
  frontend/src/index.js
Labels: Area: UI

Fixed: Ensure translations are fetched before loading app
  frontend/build/webpack.config.js
  frontend/src/App/App.js
  frontend/src/Components/Page/ErrorPage.js
  frontend/src/Components/Page/PageConnector.js
  frontend/src/Utilities/String/translate.js
  frontend/src/index.js
Labels: Area: UI

Use HelpTexts for sync levels in applications
  frontend/src/Settings/Applications/Applications/EditApplicationModalContent.js
  frontend/src/Settings/Applications/Applications/Manage/Edit/ManageApplicationsEditModalContent.tsx
Labels: Area: UI

Bump version to 1.7.3
  azure-pipelines.yml
Labels: none

Fixed: Ensure translations are fetched before loading app
  frontend/build/webpack.config.js
  frontend/src/App/App.js
  frontend/src/Components/Page/ErrorPage.js
  frontend/src/Components/Page/PageConnector.js
  frontend/src/Utilities/String/translate.js
  frontend/src/index.js
Labels: Area: UI

Fixed: (Search) Ensure TvMazeId is parsed correctly on a repeat search
  src/NzbDrone.Core/IndexerSearch/Definitions/TvSearchCriteria.cs
  src/NzbDrone.Core/IndexerSearch/NewznabRequest.cs
Labels: none

Translations update from Servarr Weblate
  src/NzbDrone.Core/Localization/Core/el.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/he.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/he.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Fixed: (BeyondHD) Searching ImdbId has priority over TmdbId.
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexer

Fixed: (BeyondHD) Add search by freeleech only
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexer

New: (BeyondHD) Add limited, refund and rewind search options
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexer

New: (BeyondHD) Add internal indexer flag
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
  src/NzbDrone.Core/Indexers/IndexerFlag.cs
Labels: Area: Indexer

New: (Shazbat) Add scene indexer flag to all releases
  src/NzbDrone.Core/Indexers/Definitions/Shazbat.cs
Labels: Area: Indexer

New: (BeyondHD) Add internal indexer flag
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
  src/NzbDrone.Core/Indexers/IndexerFlag.cs
Labels: Area: Indexer

New: (BeyondHD) Add limited, refund and rewind search options
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexer

Fixed: List jump bar click issues
  frontend/src/Components/Page/PageJumpBar.css
  frontend/src/Styles/Variables/zIndexes.js
Labels: Area: UI

Tidy up input fields on mobile in Add Indexer Modal
  frontend/src/Indexer/Add/AddIndexerModalContent.css
Labels: Area: UI

Add type number to value prop in HintedSelectInputSelectedValue
  frontend/src/Components/Form/HintedSelectInputSelectedValue.js
Labels: Area: UI

Show implementation name in Application Modal's header
  frontend/src/Settings/Applications/Applications/EditApplicationModalContent.js
Labels: Area: UI
