Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

Fixed: Don't die on info indexer when the definition is missing
  frontend/src/Indexer/Info/IndexerInfoModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Bump version to 1.10.5
  azure-pipelines.yml
Labels: none

Fixed: Replacing 'appName' translation token
  frontend/src/Utilities/String/translate.ts
Labels: Area: UI

Fixed: Disable SSL when using the removed SslCertHash configuration
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

New: Require password confirmation when setting or changing password
  frontend/src/FirstRun/AuthenticationRequiredModalContent.js
  frontend/src/Settings/General/SecuritySettings.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Validation/Paths/FileExistsValidator.cs
  src/Prowlarr.Api.V1/Config/HostConfigController.cs
  src/Prowlarr.Api.V1/Config/HostConfigResource.cs
Labels: Area: API, Area: UI

Cleanup appName tokens
  frontend/src/App/AppUpdatedModalContent.js
  frontend/src/App/ConnectionLostModal.js
  frontend/src/FirstRun/AuthenticationRequiredModalContent.js
  frontend/src/Settings/General/SecuritySettings.js
  frontend/src/System/Updates/Updates.js
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: Area: UI

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Return 429 right away after release search
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/Prowlarr.Api.V1/Indexers/NewznabController.cs
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/vi.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/vi.json
Labels: none

Fixed: (HDBits) Enable Use Filenames by default
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsSettings.cs
Labels: Area: Indexer

Fix title in tests
  src/NzbDrone.Core.Test/IndexerTests/HDBitsTests/HDBitsFixture.cs
Labels: none

Fixed: (Cardigann) Use of the default value for new select settings
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannBase.cs
  src/Prowlarr.Api.V1/Indexers/IndexerResource.cs
Labels: Area: API, Area: Indexer

New: Add Freeleech Only for HDS, iS and XS
  src/NzbDrone.Core/Datastore/Migration/038_indexers_freeleech_only_config_contract.cs
  src/NzbDrone.Core/Indexers/Definitions/HDSpace.cs
  src/NzbDrone.Core/Indexers/Definitions/ImmortalSeed.cs
  src/NzbDrone.Core/Indexers/Definitions/XSpeeds.cs
Labels: Area: Db-migration, Area: Indexer

BB has shutdown
  src/NzbDrone.Core/Indexers/Definitions/BB.cs
Labels: Area: Indexer

Remove OZnzb from default definitions
  src/NzbDrone.Core/Indexers/Definitions/Newznab/Newznab.cs
Labels: Area: Indexer

Bump dotnet to 6.0.25
  azure-pipelines.yml
  package.json
  src/NzbDrone.Common/Prowlarr.Common.csproj
  src/NzbDrone.Core.Test/Prowlarr.Core.Test.csproj
  src/NzbDrone.Core/Prowlarr.Core.csproj
  src/NzbDrone.Host/Prowlarr.Host.csproj
  src/NzbDrone.Integration.Test/Prowlarr.Integration.Test.csproj
  src/NzbDrone.Update/Prowlarr.Update.csproj
  yarn.lock
Labels: Area: UI

Bump dotnet to 6.0.25
  azure-pipelines.yml
  package.json
  src/NzbDrone.Common/Prowlarr.Common.csproj
  src/NzbDrone.Core.Test/Prowlarr.Core.Test.csproj
  src/NzbDrone.Core/Prowlarr.Core.csproj
  src/NzbDrone.Host/Prowlarr.Host.csproj
  src/NzbDrone.Integration.Test/Prowlarr.Integration.Test.csproj
  src/NzbDrone.Update/Prowlarr.Update.csproj
  yarn.lock
Labels: Area: UI

New: Add NeutralLeech to indexer flags
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Indexers/IndexerFlag.cs
Labels: Area: Indexer

Use album year in Redacted/Orpheus
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
Labels: Area: Indexer

Fixed: (Redacted) Treat freeload torrents as neutral leech
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleApi.cs
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
Labels: Area: Indexer

Initial support to use named tokens for backend translations
  src/NzbDrone.Core.Test/Localization/LocalizationServiceFixture.cs
  src/NzbDrone.Core/Localization/LocalizationService.cs
Labels: none

Fixed: Fallback to English translations if invalid UI language in config
  frontend/src/Settings/UI/UISettings.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Prowlarr.Api.V1/Config/UiConfigController.cs
Labels: Area: API, Area: UI

Fix Localization test
  src/NzbDrone.Core.Test/Localization/LocalizationServiceFixture.cs
Labels: none

New: Add Freeleech Only for HDS, iS and XS
  src/NzbDrone.Core/Datastore/Migration/038_indexers_freeleech_only_config_contract.cs
  src/NzbDrone.Core/Indexers/Definitions/HDSpace.cs
  src/NzbDrone.Core/Indexers/Definitions/ImmortalSeed.cs
  src/NzbDrone.Core/Indexers/Definitions/XSpeeds.cs
Labels: Area: Db-migration, Area: Indexer

New: Remove defunct Boxcar notifications
  src/NzbDrone.Core/Notifications/Boxcar/Boxcar.cs
  src/NzbDrone.Core/Notifications/Boxcar/BoxcarException.cs
  src/NzbDrone.Core/Notifications/Boxcar/BoxcarProxy.cs
  src/NzbDrone.Core/Notifications/Boxcar/BoxcarSettings.cs
Labels: Area: Notifications

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

New: (Cardigann) Pagination Support
  src/NzbDrone.Core/History/HistoryService.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/IndexerVersions/IndexerDefinitionUpdateService.cs
  src/NzbDrone.Core/Indexers/Definitions/AnimeTorrents.cs
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/BinSearch.cs
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNetRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/Cardigann.cs
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannDefinition.cs
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannParser.cs
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/Headphones/HeadphonesRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/IPTorrents.cs
  src/NzbDrone.Core/Indexers/Definitions/Libble.cs
  src/NzbDrone.Core/Indexers/Definitions/MyAnonamouse.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/NzbIndex.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/SpeedApp/SpeedAppBase.cs
  src/NzbDrone.Core/Indexers/Definitions/SpeedCD.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
Labels: Area: Indexer

New: Add privacy text input
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Components/Form/PrivacyTextInput.css
  frontend/src/Components/Form/PrivacyTextInput.css.d.ts
  frontend/src/Components/Form/PrivacyTextInput.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.js
  frontend/src/Helpers/Props/icons.js
  frontend/src/Helpers/Props/inputTypes.js
  src/Prowlarr.Http/ClientSchema/Field.cs
  src/Prowlarr.Http/ClientSchema/SchemaBuilder.cs
Labels: Area: UI

Bump version to 1.11.0
  azure-pipelines.yml
Labels: none

Add color to links in info inputs
  frontend/src/Components/Form/InfoInput.css
  frontend/src/Components/Form/InfoInput.js
Labels: Area: UI

New: (Redacted) Add Freeload Only option
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
Labels: Area: Indexer

Add missing CSS typing
  frontend/src/Components/Form/InfoInput.css.d.ts
Labels: Area: UI

New: (Redacted) Add Freeload Only option
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
Labels: Area: Indexer

Fixed: (BTN) Add MST, indexer flags and parse IMDb ID
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNet.cs
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNetParser.cs
Labels: Area: Indexer

Minor cleanup for BTN
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNet.cs
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNetParser.cs
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNetRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNetTorrentQuery.cs
Labels: Area: Indexer

Fixed: (RED/OPS) Add log score to release titles
  src/NzbDrone.Core.Test/IndexerTests/OrpheusTests/OrpheusFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/RedactedTests/RedactedFixture.cs
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
Labels: Area: Indexer

Fixed: (OPS) Use `canUseToken` for download links when using `Use Freeleech Tokens`
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
Labels: Area: Indexer

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock
