Repository Prowlarr/Prowlarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

.github/labeler.yml:

'Area: API':
  - src/Prowlarr.Api.V1/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock

Fixed: (AvistaZ) Increase rate limit and use workaround for Retry-After in auth
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazBase.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

Rollback YamlDotNet
  src/NzbDrone.Core.Test/Prowlarr.Core.Test.csproj
  src/NzbDrone.Core/Prowlarr.Core.csproj
Labels: none

Fixed: (AvistaZ) Improve message for failed logins
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazBase.cs
Labels: Area: Indexer

allow raw search for toloka
  src/NzbDrone.Core/Indexers/Definitions/Toloka.cs
Labels: Area: Indexer

Bump version to 1.11.1
  azure-pipelines.yml
Labels: none

Fixed: (Toloka) Support RAW search (#1944)
  src/NzbDrone.Core/Indexers/Definitions/Toloka.cs
Labels: Area: Indexer

Always validate Custom Script path
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScriptSettings.cs
Labels: Area: Notifications

Fixed: (PTP) Parse half leech
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornParser.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
Labels: Area: Indexer

New: (NorBits) Login with 2FA support
  src/NzbDrone.Core/Indexers/Definitions/NorBits.cs
Labels: Area: Indexer

New: (NorBits) Login with 2FA support
  src/NzbDrone.Core/Indexers/Definitions/NorBits.cs
Labels: Area: Indexer

New: (NorBits) Add FreeLeech Only option
  src/NzbDrone.Core/Indexers/Definitions/NorBits.cs
Labels: Area: Indexer

Fixed: (aro.lol) Removed, site has shutdown
  src/NzbDrone.Core/Indexers/Definitions/AroLol.cs
Labels: Area: Indexer

New: (Discord) Add size grab field and improve field selection
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordFieldType.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordSettings.cs
Labels: Area: Notifications

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/nl.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/nl.json
Labels: none

New: External links for search results
  frontend/src/Search/Table/ReleaseLinks.css
  frontend/src/Search/Table/ReleaseLinks.css.d.ts
  frontend/src/Search/Table/ReleaseLinks.tsx
  frontend/src/Search/Table/SearchIndexRow.css
  frontend/src/Search/Table/SearchIndexRow.js
  src/Prowlarr.Api.V1/Search/ReleaseResource.cs
Labels: Area: API, Area: UI

Fixed: (IPTorrents) Parse size column using index by name
  src/NzbDrone.Core/Indexers/Definitions/IPTorrents.cs
Labels: Area: Indexer

Bump version to 1.11.2
  azure-pipelines.yml
Labels: none

New: External links for search results
  frontend/src/Search/Table/ReleaseLinks.css
  frontend/src/Search/Table/ReleaseLinks.css.d.ts
  frontend/src/Search/Table/ReleaseLinks.tsx
  frontend/src/Search/Table/SearchIndexRow.css
  frontend/src/Search/Table/SearchIndexRow.js
  src/Prowlarr.Api.V1/Search/ReleaseResource.cs
Labels: Area: API, Area: UI

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Automated API Docs update
  src/Prowlarr.Api.V1/openapi.json
Labels: Area: API

Fixed: (FL/BHD/IPT) Filter releases by query
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileList.cs
  src/NzbDrone.Core/Indexers/Definitions/IPTorrents.cs
Labels: Area: Indexer

Fixed: Ignore terms with digits only in filter releases by query
  src/NzbDrone.Core/Indexers/IndexerBase.cs
Labels: Area: Indexer

Implement DatabaseConnectionInfo
  src/NzbDrone.Core/Datastore/ConnectionStringFactory.cs
  src/NzbDrone.Core/Datastore/DatabaseConnectionInfo.cs
  src/NzbDrone.Core/Datastore/DbFactory.cs
  src/NzbDrone.Core/Instrumentation/DatabaseTarget.cs
Labels: none

Fixed: Correctly handle Migration when PG Host has ".db"
  src/NzbDrone.Core/Datastore/DbFactory.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
Labels: none

Log invalid torrent files contents as info
  src/NzbDrone.Core/Indexers/TorrentIndexerBase.cs
Labels: Area: Indexer

Update year format in titles for RED/OPS
  src/NzbDrone.Core.Test/IndexerTests/OrpheusTests/OrpheusFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/RedactedTests/RedactedFixture.cs
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
Labels: Area: Indexer

Fixed: (RetroFlix) Remove unrelated results
  src/NzbDrone.Core/Indexers/Definitions/SpeedApp.cs
  src/NzbDrone.Core/Indexers/Definitions/SpeedApp/SpeedAppBase.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/lv.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/lv.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: (AvistaZ) Disable pagination and implement MST formula
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazBase.cs
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazParserBase.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/nl.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/nl.json
Labels: none

Enable browser navigation buttons for PWA
  frontend/src/Content/Images/Icons/manifest.json
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none
