Repository Prowlarr/Prowlarr, pull requests merged in 2021-09, with the labels that each got.

#483 Fixed: (MAM) Don't Parse HTTP Error Responses
  src/NzbDrone.Core/Indexers/Definitions/MyAnonamouse.cs
Labels: Area: Indexers, Status: Ready for Review

#482 Fixed: Missing Proxy Validation Translations
  src/NzbDrone.Core/IndexerProxies/FlareSolverr/FlareSolverr.cs
  src/NzbDrone.Core/IndexerProxies/Http/Http.cs
  src/NzbDrone.Core/IndexerProxies/HttpIndexerProxyBase.cs
  src/NzbDrone.Core/IndexerProxies/Socks4/Socks4.cs
  src/NzbDrone.Core/IndexerProxies/Socks5/Socks5.cs
Labels: Status: Ready for Review

#498 New: (InternetArchive) Add Support for TV Categories
  src/NzbDrone.Core/Indexers/Definitions/InternetArchive.cs
Labels: Status: Ready for Review

#505 New: (Indexer) Torrent lat-team.com
  src/NzbDrone.Core/IndexerVersions/IndexerDefinitionUpdateService.cs
  src/NzbDrone.Core/Indexers/Definitions/LatTeam.cs
Labels: Area: Indexers, Status: Waiting for OP
