Repository Prowlarr/Prowlarr, pull requests merged in 2021-12, with the labels that each got.

#654 Fixed: (UNIT3D Indexers) Cleanse RID in Logs
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging, Status: Ready for Review

#642 readme updates [skip ci]
  README.md
Labels: Type: Documentation, Status: Ready for Review

#653 Fixed: (PrivateHD) Drop support for IMDB search
  src/NzbDrone.Core/Indexers/Definitions/PrivateHD.cs
Labels: Status: Ready for Review

#689 fix erroneous logging for windows service on non-windows
  src/NzbDrone.Host/Bootstrap.cs
Labels: Status: Ready for Review

#691 Fixed: Forms login persists across restarts in docker
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/Startup.cs
Labels: Status: Ready for Review

#699 New: (FlareSolverr Proxy) Configurable Request Timeout
  src/NzbDrone.Core/IndexerProxies/FlareSolverr/FlareSolverr.cs
  src/NzbDrone.Core/IndexerProxies/FlareSolverr/FlareSolverrSettings.cs
Labels: Area: Proxy

#706 Fixed: (Anilibria) Duplicate entries
  src/NzbDrone.Core/Indexers/Definitions/Anilibria.cs
Labels: Area: Indexers, Status: Ready for Review

#713 Update Orpheus categories -> Prior Movie/TV mappings => Other
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
Labels: Area: Indexers, Area: Searching/Queries, Status: Ready for Review

#714 Update Orpheus Search Caps - Drop Movie and TV Support
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
Labels: Area: Indexers, Area: Searching/Queries, Status: Ready for Review

#710 Fixed: (BB) Remove '.' from Search String
  src/NzbDrone.Core/Indexers/Definitions/BB.cs
Labels: Area: Indexers, Area: Searching/Queries, Status: Ready for Review

#702 fixup add rationale for Obsolete of C# Indexer Implementations - resolves code smells
  src/NzbDrone.Core/Indexers/Definitions/Aither.cs
  src/NzbDrone.Core/Indexers/Definitions/AnimeWorld.cs
  src/NzbDrone.Core/Indexers/Definitions/Blutopia.cs
  src/NzbDrone.Core/Indexers/Definitions/DesiTorrents.cs
  src/NzbDrone.Core/Indexers/Definitions/DigitalCore.cs
  src/NzbDrone.Core/Indexers/Definitions/InternetArchive.cs
  src/NzbDrone.Core/Indexers/Definitions/Milkie.cs
  src/NzbDrone.Core/Indexers/Definitions/ShareIsland.cs
  src/NzbDrone.Core/Indexers/Definitions/SuperBits.cs
  src/NzbDrone.Core/Indexers/Definitions/ThePirateBay.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentLeech.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentParadiseMl.cs
  src/NzbDrone.Core/Indexers/Definitions/YTS.cs
Labels: Area: Indexers, Status: Ready for Review

#725 New: OnApplicationUpdate Notifications
  frontend/src/Settings/Notifications/Notifications/Notification.js
  frontend/src/Settings/Notifications/Notifications/NotificationEventItems.js
  frontend/src/Store/Actions/Settings/notifications.js
  src/NzbDrone.Core.Test/NotificationTests/NotificationBaseFixture.cs
  src/NzbDrone.Core/Datastore/Migration/014_add_on_update_to_notifications.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/ApplicationUpdateMessage.cs
  src/NzbDrone.Core/Notifications/Boxcar/Boxcar.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/INotification.cs
  src/NzbDrone.Core/Notifications/Join/Join.cs
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
  src/NzbDrone.Core/Notifications/NotificationBase.cs
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/Prowl/Prowl.cs
  src/NzbDrone.Core/Notifications/PushBullet/PushBullet.cs
  src/NzbDrone.Core/Notifications/Pushover/Pushover.cs
  src/NzbDrone.Core/Notifications/SendGrid/SendGrid.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Twitter/Twitter.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookApplicationUpdatePayload.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEventType.cs
  src/Prowlarr.Api.V1/Notifications/NotificationResource.cs
Labels: Area: Notifications, Status: Ready for Review, Area: DB Migration

#726 Fix misleading Tags helptext [skip ci]
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Status: Ready for Review

#718 Fixed: (Usenet) (DrunkenSlug) Update URL
  src/NzbDrone.Core/Indexers/Definitions/Newznab/Newznab.cs
Labels: Status: Ready for Review

#701 Bump 0.1.9
  azure-pipelines.yml
Labels: Status: Ready for Review

#700 New: (TvVault) Mark as Obsolete per Site Bot Ban
  src/NzbDrone.Core/Indexers/Definitions/TVVault.cs
Labels: Status: Ready for Review

#733 Fixed: (Indexer) Update RARBG API query options
  src/NzbDrone.Core.Test/IndexerTests/RarbgTests/RarbgFixture.cs
  src/NzbDrone.Core/Indexers/Definitions/Rarbg/Rarbg.cs
  src/NzbDrone.Core/Indexers/Definitions/Rarbg/RarbgParser.cs
  src/NzbDrone.Core/Indexers/Definitions/Rarbg/RarbgTokenProvider.cs
Labels: Status: Ready for Review

#705 Fixed: Various Translations
  frontend/src/App/AppUpdatedModalContent.js
  frontend/src/Components/Filter/Builder/FilterBuilderModalContent.js
  frontend/src/History/Details/HistoryDetails.js
  frontend/src/History/HistoryOptions.js
  frontend/src/Indexer/Edit/EditIndexerModalContent.js
  frontend/src/Indexer/Index/IndexerIndex.js
  frontend/src/Indexer/Index/Table/IndexerIndexRow.js
  frontend/src/Search/Table/SearchIndexRow.js
  frontend/src/Settings/Applications/Applications/Applications.js
  frontend/src/Settings/Indexers/IndexerProxies/IndexerProxies.js
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.js
  frontend/src/System/Tasks/Queued/QueuedTaskRow.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Status: Ready for Review
