Repository Prowlarr/Prowlarr, pull requests merged in 2021-11, with the labels that each got.

#585 Fixed: (RuTracker.Org) Fails to add
  src/NzbDrone.Core/Indexers/Definitions/RuTracker.cs
Labels: Area: Indexers, Status: Ready for Review

#551 Fix torrentleech tv searches returning unrelated results
  src/NzbDrone.Core/Indexers/Definitions/TorrentLeech.cs
Labels: Area: Searching/Queries, Status: Ready for Review

#558 Fixed: (Avistaz) Cleanse PID & Hash from response
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging, Status: Ready for Review

#595 Fixed: Remove Defunct Usenet Indexer NZBXS
  src/NzbDrone.Core/Indexers/Definitions/Newznab/Newznab.cs
Labels: Status: Ready for Review

#601 Fixed: (RarBG) Remove Book Category & Support
  src/NzbDrone.Core/Indexers/Definitions/Rarbg/Rarbg.cs
Labels: Status: Ready for Review

#598 Fixed: Cleanse RSSKey and PassKey from Indexer Response
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging, Status: Ready for Review

#599 Fixed: Orpheus failing to grab if token is not used
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
Labels: Status: Ready for Review

#614 Fixed: Cleanse APIKey from Newznab Response
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging, Status: Ready for Review

#602 Fixed: Cleanse APIKey from Signalr logging
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging, Status: Ready for Review

#607 Add a filter bar to the "Add Indexers" modal
  frontend/src/Indexer/Add/AddIndexerModalContent.css
  frontend/src/Indexer/Add/AddIndexerModalContent.js
Labels: Area: UI, Status: Ready for Review

#630 Fixed: (Cardigann) Poster & tmbid are Optional by default
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannBase.cs
Labels: Area: Indexers, Area: Cardigann, Status: Ready for Review

#624 Fixed: (RarBG) Do not cleanse get_token
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging, Status: Ready for Review

#633 cleanse postgres username/pass creds
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging, Status: Ready for Review
