Repository Prowlarr/Prowlarr, pull requests merged in 2021-06, with the labels that each got.

#143 Fixed: Missing Translate Keys for Redirect & Help Text
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI, Type: Bug

#139 Fixed: Develop branch out of date warning
  src/NzbDrone.Core.Test/HealthCheck/Checks/ReleaseBranchCheckFixture.cs
  src/NzbDrone.Core/HealthCheck/Checks/ReleaseBranchCheck.cs
Labels: Type: Bug

#152 Fixed: Add missing Translate Keys
  frontend/src/Settings/Notifications/Notifications/NotificationEventItems.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

#133 (Indexers) Add Newz-Complex
  src/NzbDrone.Core/Indexers/Definitions/Newznab/Newznab.cs
Labels: Area: Indexers

#150 Fixed: Log Cleansing
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging

#130 New: Sort 'Add Indexer' by Language
  frontend/src/Indexer/Add/AddIndexerModalContent.js
  frontend/src/Indexer/Add/SelectIndexerRow.js
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/Cardigann.cs
Labels: Area: UI

#176 (Indexers) Add Support for Aither via UNIT3D API
  src/NzbDrone.Core/IndexerVersions/IndexerDefinitionUpdateService.cs
  src/NzbDrone.Core/Indexers/Definitions/Aither.cs
Labels: Area: Indexers

#155 Add detailed help text for sync levels and some wording stuff
  frontend/src/Components/Form/FormInputHelpText.js
  frontend/src/Settings/Applications/Applications/EditApplicationModalContent.js
  frontend/src/System/Status/styles.css
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

#148 Translations update from Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: Area: UI

#169 Cardigann: fix checkbox configuration
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannBase.cs
Labels: Area: Indexers, Area: UI

#216 Fix remove Dead Usenet Indexers
  src/NzbDrone.Core/Indexers/Definitions/Newznab/Newznab.cs
Labels: Area: Indexers

#211 New: Better Application Tests
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrSettings.cs
  src/NzbDrone.Core/Applications/Lidarr/LidarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrSettings.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrSettings.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrSettings.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrV3Proxy.cs
  src/Prowlarr.Api.V1/Indexers/NewznabController.cs
Labels: Area: Applications

#206 New: Allow users to use custom ymls
  src/NzbDrone.Core/IndexerVersions/IndexerDefinitionUpdateService.cs
Labels: Area: Indexers, Type: Feature Request, Type: Indexer Request

#255 Schema api enhancements
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/Cardigann.cs
  src/Prowlarr.Api.V1/Indexers/IndexerResource.cs
  src/Prowlarr.Api.V1/ProviderResource.cs
Labels: Area: API

#270 Fixed: (BHD) Treat Limited Freeleech as Freeleech
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Area: Indexers

#274 Fixed: Incorrectly cleansing usetoken param
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging

#215 Fixed: Cleanse additional AuthKey instances in logs
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging

#291 New: (Indexer) IPTorrents Alt Links
  src/NzbDrone.Core/Indexers/Definitions/IPTorrents.cs
Labels: Area: Indexers

#296 Fixed: Cleanse Pwd from logs
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging, Status: Ready for Review, Type: Bug
