Repository Prowlarr/Prowlarr, pull requests merged in 2021-07, with the labels that each got.

#307 fix radarr reference [skip ci]
  CONTRIBUTING.md
Labels: Status: Ready for Review

#308 Fixed: Cleanse BHD APIKey from logs
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Status: Ready for Review

#326 New: (Indexer) SubsPlease Alt Links
  src/NzbDrone.Core/Indexers/Definitions/SubsPlease.cs
Labels: Status: Ready for Review

#341 Fixed: Provider Wiki Links (supported-X => supported#X)
  src/Prowlarr.Api.V1/ProviderResource.cs
Labels: Status: Ready for Review

#339 Fixed: Respect categories for ImmortalSeed in search
  src/NzbDrone.Core/Indexers/Definitions/ImmortalSeed.cs
Labels: Status: Ready for Review

#320 New: (Indexers) Per indexer api and download limits
  src/NzbDrone.Common/Extensions/DateTimeExtensions.cs
  src/NzbDrone.Core.Test/IndexerTests/TestIndexerSettings.cs
  src/NzbDrone.Core/History/HistoryRepository.cs
  src/NzbDrone.Core/History/HistoryService.cs
  src/NzbDrone.Core/IndexerSearch/NewznabResults.cs
  src/NzbDrone.Core/IndexerSearch/NzbSearchService.cs
  src/NzbDrone.Core/Indexers/Definitions/AnimeBytes.cs
  src/NzbDrone.Core/Indexers/Definitions/AnimeTorrents.cs
  src/NzbDrone.Core/Indexers/Definitions/Anthelion.cs
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/BakaBT.cs
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNetSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/DanishBytes.cs
  src/NzbDrone.Core/Indexers/Definitions/DigitalCore.cs
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/GazelleGames.cs
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/HDSpace.cs
  src/NzbDrone.Core/Indexers/Definitions/HDTorrents.cs
  src/NzbDrone.Core/Indexers/Definitions/Headphones/HeadphonesSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/IPTorrents.cs
  src/NzbDrone.Core/Indexers/Definitions/ImmortalSeed.cs
  src/NzbDrone.Core/Indexers/Definitions/Milkie.cs
  src/NzbDrone.Core/Indexers/Definitions/MyAnonamouse.cs
  src/NzbDrone.Core/Indexers/Definitions/Nebulance.cs
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/PreToMe.cs
  src/NzbDrone.Core/Indexers/Definitions/Rarbg/RarbgSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/RevolutionTT.cs
  src/NzbDrone.Core/Indexers/Definitions/ShowRSS.cs
  src/NzbDrone.Core/Indexers/Definitions/SpeedApp.cs
  src/NzbDrone.Core/Indexers/Definitions/SubsPlease.cs
  src/NzbDrone.Core/Indexers/Definitions/SuperBits.cs
  src/NzbDrone.Core/Indexers/Definitions/TVVault.cs
  src/NzbDrone.Core/Indexers/Definitions/ThePirateBay.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentDay.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentLeech.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentPotato/TorrentPotatoSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/TorrentSeeds.cs
  src/NzbDrone.Core/Indexers/Definitions/UNIT3D/Unit3dSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/YTS.cs
  src/NzbDrone.Core/Indexers/Definitions/ZonaQ.cs
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
  src/NzbDrone.Core/Indexers/IIndexerSettings.cs
  src/NzbDrone.Core/Indexers/IndexerBaseSettings.cs
  src/NzbDrone.Core/Indexers/IndexerDefaults.cs
  src/NzbDrone.Core/Indexers/IndexerLimitService.cs
  src/Prowlarr.Api.V1/Indexers/NewznabController.cs
Labels: Status: Waiting for OP

#334 New: (Indexer) Anilibria
  src/NzbDrone.Core/Indexers/Definitions/Anilibria.cs
Labels: Area: Indexers, Status: Help Wanted, Status: Ready for Review, Status: Waiting for OP, Stauts: On Hold - Do Not Merge

#313 New: (Indexers) (Redacted) Add API support
  src/NzbDrone.Core/Datastore/Migration/008_redacted_api.cs
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
Labels: Area: DB Migration, Area: Indexers, Status: Ready for Review

#350 Fixed: (SubsPlease) fix offset release time issues
  src/NzbDrone.Core/Indexers/Definitions/SubsPlease.cs
Labels: Status: Ready for Review

#329 Fixed: (AnimeBytes) cleanup code, fix episode searching & improve Season matching
  src/NzbDrone.Core/Indexers/Definitions/AnimeBytes.cs
Labels: Area: Indexers, Area: Searching/Queries, Status: Help Wanted, Status: Waiting for OP, Stauts: On Hold - Do Not Merge

#345 Amend indexer list info
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Status: Waiting for OP

#355 Fixed: Add Missing Search Translates
  frontend/src/Search/Menus/SearchIndexSortMenu.js
  frontend/src/Search/NoSearchResults.js
  frontend/src/Search/SearchFooter.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

#351 Fixed (Anime Tosho): Only include Releases which have a NZB
  src/NzbDrone.Core/Indexers/Definitions/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Indexers/RssParser.cs
Labels: Status: Ready for Review

#349 New: (Indexer) Shizaproject
  src/NzbDrone.Core/Indexers/Definitions/Shizaproject.cs
Labels: Status: Ready for Review

#342 New: (Indexer) Torrent Xthor
  src/NzbDrone.Core/Indexers/Definitions/Xthor/Xthor.cs
  src/NzbDrone.Core/Indexers/Definitions/Xthor/XthorParser.cs
  src/NzbDrone.Core/Indexers/Definitions/Xthor/XthorProperties.cs
  src/NzbDrone.Core/Indexers/Definitions/Xthor/XthorRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/Xthor/XthorResponse.cs
  src/NzbDrone.Core/Indexers/Definitions/Xthor/XthorSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/Xthor/XthorSettingsValidator.cs
Labels: Area: Indexers, Status: Ready for Review, Status: Waiting for OP, Stauts: On Hold - Do Not Merge

#360 New: (Indexer) Animedia
  src/NzbDrone.Core/Indexers/Definitions/Animedia.cs
Labels: Area: Indexers, Status: Ready for Review

#373 git updates [skip ci]
  CONTRIBUTING.md
  README.md
Labels: Status: Ready for Review
