Repository Prowlarr/Prowlarr, pull requests merged in 2021-08, with the labels that each got.

#388 New: (Indexer) Alternative Links for TorrentDay
  src/NzbDrone.Core/Indexers/Definitions/TorrentDay.cs
Labels: Area: Indexers, Status: Ready for Review

#389 Fixed: Gazelle search using full IMDb ID
  src/NzbDrone.Core/Indexers/Definitions/AlphaRatio.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/SecretCinema.cs
Labels: Area: Indexers, Area: Searching/Queries, Status: Ready for Review

#376 Fixed: (Indexer) AnimeBytes improve sonarr compatibility and make optional
  src/NzbDrone.Core/Indexers/Definitions/AnimeBytes.cs
Labels: Area: Indexers, Area: Searching/Queries, Status: Waiting for OP

#408 Fixed: (Indexer) BroadcastheNet - Report TvdbId and RId capability
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNet.cs
Labels: Area: Indexers, Status: Ready for Review

#289 New: (Indexer) Binsearch
  frontend/src/Indexer/Edit/EditIndexerModalContent.js
  src/NzbDrone.Core/Indexers/Definitions/BinSearch.cs
Labels: Area: Indexers, Status: Waiting for OP

#377 New: Sync Indexers with Mylar3
  src/NzbDrone.Core/Applications/AppIndexerMap.cs
  src/NzbDrone.Core/Applications/AppIndexerMapService.cs
  src/NzbDrone.Core/Applications/ApplicationBase.cs
  src/NzbDrone.Core/Applications/ApplicationService.cs
  src/NzbDrone.Core/Applications/IApplication.cs
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Mylar/Mylar.cs
  src/NzbDrone.Core/Applications/Mylar/MylarError.cs
  src/NzbDrone.Core/Applications/Mylar/MylarException.cs
  src/NzbDrone.Core/Applications/Mylar/MylarField.cs
  src/NzbDrone.Core/Applications/Mylar/MylarIndexer.cs
  src/NzbDrone.Core/Applications/Mylar/MylarSettings.cs
  src/NzbDrone.Core/Applications/Mylar/MylarStatus.cs
  src/NzbDrone.Core/Applications/Mylar/MylarV3Proxy.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Datastore/Migration/011_app_indexer_remote_name.cs
Labels: Area: Applications, Area: DB Migration

#421 Fixed: Clarify IPT cookie help text
  src/NzbDrone.Core/Indexers/Definitions/IPTorrents.cs
Labels: Status: Waiting for OP

#420 New: (TorrentLeech) Add VIP Expiration
  src/NzbDrone.Core/Indexers/Definitions/TorrentLeech.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Indexers

#476 Fixed: (Indexer) TPB Missing Magnet Download Link & No Results for *arr Torznab
  src/NzbDrone.Core/Indexers/Definitions/ThePirateBay.cs
Labels: Area: Indexers

#473 Fixed: Increased Xthor Rate Limit Time
  src/NzbDrone.Core/Indexers/Definitions/Xthor/Xthor.cs
Labels: Status: Ready for Review

#481 Fixed: (BTN) Daily Episode Searches failing
  src/NzbDrone.Core/Indexers/Definitions/BroadcastheNet/BroadcastheNetRequestGenerator.cs
Labels: Area: Indexers, Area: Searching/Queries

#479 Fixed: Better Log Cleansing
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging, Status: Ready for Review
