Repository Prowlarr/Prowlarr, pull requests merged in 2021-10, with the labels that each got.

#470 Refactor Build => Supported Indexer Wiki Script
  Convert-ProwlarrSupportedIndexersToMarkdownTable.ps1
Labels: Type: Documentation, Status: Ready for Review

#527 Fixed: (Indexer) Changed BakaBT to default to SFW content
  src/NzbDrone.Core/Indexers/Definitions/BakaBT.cs
Labels: Area: Indexers

#529 Anilibria: Fix download torrent link
  src/NzbDrone.Core/Indexers/Definitions/Anilibria.cs
Labels: Area: Indexers, Status: Ready for Review

#545 Fixed: (Indexer) RevolutionTT Remove [REQ] prefix from torrent title
  src/NzbDrone.Core/Indexers/Definitions/RevolutionTT.cs
Labels: Area: Indexers, Area: Searching/Queries, Status: Ready for Review

#563 New: (DesiTorrents) Add Alt URL .rocks
  src/NzbDrone.Core/Indexers/Definitions/DesiTorrents.cs
Labels: Area: Indexers, Status: Ready for Review
