Repository Prowlarr/Prowlarr, pull requests merged in 2022-11, with the labels that each got.

#1181 Fix confusing session expired test message
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannParser.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornParser.cs
Labels: Status: Ready for Review

#1171 Fixed: (Avistaz) Handle 429 Request Limit Reached
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazParser.cs
Labels: Status: Ready for Review

#1063 New: Notifiarr moved from webhook to API
  src/NzbDrone.Core/Notifications/Notifiarr/NotifiarrProxy.cs
Labels: Area: Notifications, Status: Ready for Review

#1208 Removed suspicious URL in the default definitions
  src/NzbDrone.Core/Indexers/Definitions/Torznab/Torznab.cs
Labels: Status: Waiting for OP

#1201 Fixed: (SpeedApp) Migrate Legacy URL without slash
  src/NzbDrone.Core/Indexers/Definitions/SpeedApp.cs
Labels: Status: Ready for Review, Area: Indexer

#1213 Fixed: Publish ApplicationStartingEvent during startup
  src/NzbDrone.Host/Startup.cs
Labels: Status: Ready for Review, sonarr-pull
