Repository Prowlarr/Prowlarr, pull requests merged in 2022-04, with the labels that each got.

#891 New: (Lidarr/Radarr/Readarr/Sonarr) Improved Errors
  src/NzbDrone.Core/Applications/Lidarr/LidarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Radarr/RadarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Readarr/ReadarrV1Proxy.cs
  src/NzbDrone.Core/Applications/Sonarr/SonarrV3Proxy.cs
  src/NzbDrone.Core/Applications/Whisparr/WhisparrV3Proxy.cs
Labels: Area: Applications, Status: Ready for Review

#924 Fixed: MoreThanTV indexer from browse page layout changes (#788, #922)
  src/NzbDrone.Core/Indexers/Definitions/MoreThanTV.cs
Labels: Area: Indexers, Status: Ready for Review

#931 Fixed: (BHD) TMDb Parsing Exception
  src/NzbDrone.Core/Indexers/Definitions/BeyondHD.cs
Labels: Type: Bug, Area: Indexers, Status: Ready for Review

#907 #834 #256 fix for unable to load the Indexes page
  frontend/src/Indexer/Index/Table/IndexerIndexRow.js
Labels: Status: Waiting For Info, Area: UI, Status: On Hold - Do Not Merge, Status: Waiting for OP

#942 Fixed: (exoticaz) Category Parsing
  src/NzbDrone.Core/Indexers/Definitions/ExoticaZ.cs
Labels: Area: Indexers, Status: Waiting for OP

#941 Fixed: (CinemaZ, ExoticaZ, PrivateHD) Better Indexer Response Log Cleansing
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging, Status: Waiting for OP

#817 Fixed: (TorrentDay) TV Search
  src/NzbDrone.Core/Indexers/Definitions/TorrentDay.cs
Labels: Area: Indexers, Area: Searching/Queries, Status: Ready for Review

#829 Fixed: (MaM) Handle Auth Errors & Session Expiry
  src/NzbDrone.Core/Indexers/Definitions/MyAnonamouse.cs
Labels: Area: Indexers, Status: Ready for Review

#929 Fixed: (MoreThanTV) Better Response Cleansing
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Area: Logging, Status: Ready for Review
