Repository Prowlarr/Prowlarr, pull requests merged in 2022-12, with the labels that each got.

#1172 Fixed: Indexer Error handling improvements
  src/NzbDrone.Core/Indexers/HttpIndexerBase.cs
Labels: Status: Ready for Review, Area: Indexer, Type: Enhancement

#1215 Fixed: (Avistaz Family) Age Parsing
  src/NzbDrone.Core.Test/IndexerTests/AvistazTests/AvistazFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/AvistazTests/ExoticazFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/AvistazTests/PrivateHDFixture.cs
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazApi.cs
  src/NzbDrone.Core/Indexers/Definitions/Avistaz/AvistazParser.cs
Labels: Type: Bug, Status: Ready for Review, Area: Indexer

#1218 Log Skipped Application-Indexer Syncs at trace for support
  src/NzbDrone.Core/Applications/LazyLibrarian/LazyLibrarian.cs
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Mylar/Mylar.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
Labels: Status: Ready for Review

#1266 Fixed: Changed torznab parser to use additional attributes
  src/NzbDrone.Core/Indexers/Definitions/Torznab/TorznabRssParser.cs
Labels: Status: Ready for Review

#1263 Fixed: (FileList) Changed FL to use internal flag
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileList.cs
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListApi.cs
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListParser.cs
Labels: Status: Ready for Review

#1268 Fixed: (Indexer) Added "TvSearchParam.ImdbId" to SpeedApp
  src/NzbDrone.Core/Indexers/Definitions/RetroFlix.cs
  src/NzbDrone.Core/Indexers/Definitions/SpeedApp.cs
  src/NzbDrone.Core/Indexers/Definitions/SpeedApp/SpeedAppBase.cs
Labels: Status: Ready for Review

#1264 Fixed: (Cardigann) Allow use of template variables in fields selector
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannBase.cs
Labels: Status: Ready for Review

#1271 Fixed: (RetroFlix) Set 5 days as MST
  src/NzbDrone.Core/Indexers/Definitions/RetroFlix.cs
  src/NzbDrone.Core/Indexers/Definitions/SpeedApp/SpeedAppBase.cs
Labels: Status: Ready for Review

#1255 New: (Indexer) Torrent Libble with 2FA support
  src/NzbDrone.Core/Indexers/Definitions/Libble.cs
Labels: Status: Ready for Review
