Repository Prowlarr/Prowlarr, pull requests merged in 2022-03, with the labels that each got.

#876 Add RuTracker.org mirror rutracker.net
  src/NzbDrone.Core/Indexers/Definitions/RuTracker.cs
Labels: Area: Indexers

#870 New: (DanishBytes) Move to YML
  src/NzbDrone.Core/Indexers/Definitions/DanishBytes.cs
Labels: Status: Ready for Review

#881 Fixed: '/indexers' URL Base breaking UI navigation
  frontend/src/Components/Link/Link.js
Labels: Status: Ready for Review

#885 Fixed: No longer require first run as admin on windows
  azure-pipelines.yml
  build.sh
  distribution/osx/Prowlarr.app/Contents/Info.plist
  distribution/windows/setup/build.bat
  distribution/windows/setup/inno/Default.isl
  distribution/windows/setup/inno/ISCC.exe
  distribution/windows/setup/inno/ISCmplr.dll
  distribution/windows/setup/inno/ISPP.dll
  distribution/windows/setup/inno/Setup.e32
  distribution/windows/setup/inno/SetupLdr.e32
  distribution/windows/setup/inno/WizModernImage.bmp
  distribution/windows/setup/inno/WizModernSmallImage.bmp
  distribution/windows/setup/inno/islzma.dll
  distribution/windows/setup/prowlarr.iss
Labels: Status: Help Wanted

#882 Fixed: (Redacted) Map Categories Comedy & E-Learning Videos to 'Other'
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
Labels: Area: Indexers, Status: Ready for Review

#874 Fixed: Update from version in logs
  src/NzbDrone.Update/UpdateEngine/DetectExistingVersion.cs
Labels: Status: Ready for Review

#920 Fixed: Indexer Infobox Error
  frontend/src/Indexer/Info/IndexerInfoModalContent.js
Labels: Area: UI, Status: Ready for Review
