Repository Prowlarr/Prowlarr, pull requests merged in 2023-01, with the labels that each got.

#1291 Fixed: (GreatPosterWall) Use UTC for PublishDate, order releases
  src/NzbDrone.Core/Indexers/Definitions/GreatPosterWall.cs
Labels: Status: Ready for Review, Area: Indexer

#1276 Fixed: (IPTorrents) use offset to set page field
  src/NzbDrone.Core/Indexers/Definitions/IPTorrents.cs
Labels: Status: Waiting for OP, Area: Indexer

#1293 Fixed: (Torznab) Use HashSet to prevent duplicated flags
  src/NzbDrone.Core/Indexers/Definitions/FileList/FileListParser.cs
  src/NzbDrone.Core/Indexers/Definitions/HDBits/HDBitsParser.cs
  src/NzbDrone.Core/Indexers/Definitions/PassThePopcorn/PassThePopcornParser.cs
  src/NzbDrone.Core/Indexers/Definitions/Torznab/TorznabRssParser.cs
  src/NzbDrone.Core/Parser/Model/ReleaseInfo.cs
Labels: Status: Ready for Review, Area: Indexer

#1290 Fixed: (Cardigann) Apply RateLimit by using RequestDelay from definitions
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/Cardigann.cs
  src/NzbDrone.Core/Indexers/Definitions/Cardigann/CardigannDefinition.cs
Labels: Status: Ready for Review, Area: Indexer

#1316 Fixed: (BeyondHD) Cleanse RSSKey on Grabs
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: Status: Ready for Review

#1341 New: Add apps minimum seeders per indexer
  src/NzbDrone.Core/Applications/Lidarr/Lidarr.cs
  src/NzbDrone.Core/Applications/Radarr/Radarr.cs
  src/NzbDrone.Core/Applications/Readarr/Readarr.cs
  src/NzbDrone.Core/Applications/Sonarr/Sonarr.cs
  src/NzbDrone.Core/Applications/Whisparr/Whisparr.cs
  src/NzbDrone.Core/Indexers/IndexerTorrentBaseSettings.cs
Labels: Status: Ready for Review, Area: Indexer

#1352 Fixed: (AlphaRatio/GreatPosterWall) Add freeleech only and exclude scene settings
  src/NzbDrone.Core.Test/IndexerTests/OrpheusTests/OrpheusFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/SecretCinemaTests/SecretCinemaFixture.cs
  src/NzbDrone.Core/Datastore/Migration/027_alpharatio_greatposterwall_config_contract.cs
  src/NzbDrone.Core/Indexers/Definitions/AlphaRatio.cs
  src/NzbDrone.Core/Indexers/Definitions/BrokenStones.cs
  src/NzbDrone.Core/Indexers/Definitions/CGPeers.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/Gazelle.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleApi.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleBase.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleInfo.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleParser.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Definitions/Gazelle/GazelleSettings.cs
  src/NzbDrone.Core/Indexers/Definitions/GreatPosterWall.cs
  src/NzbDrone.Core/Indexers/Definitions/NotWhatCD.cs
  src/NzbDrone.Core/Indexers/Definitions/Orpheus.cs
  src/NzbDrone.Core/Indexers/Definitions/Redacted.cs
  src/NzbDrone.Core/Indexers/Definitions/SecretCinema.cs
Labels: Status: Ready for Review, Area: Indexer

#1360 Fixed: (Nebulance) Use single wildcard in search
  src/NzbDrone.Core/Indexers/Definitions/Nebulance.cs
Labels: Status: Ready for Review, Area: Indexer
